<div style="text-align: center;">
  <a href="https://uk.ulike.com/pages/prep-hair-free-skin" style="display: inline-block;padding: 20px 0;text-decoration: underline;">Take your pick for party-prep skin</a>
</div>