
<div class="code_get-box">
  <div class="code_get-left">
    <div class="code_get-txt">
     {{ section.settings.subscribe_txt }}
    </div>
    <div class="code_get-tle">{{ section.settings.subscribe_code }}</div>
  </div>
  <a href="{{ section.settings.subscribe_url }}" class="code_get-btn">{{ section.settings.subscribe_url_txt }}</a>
</div>