<div class="tip-custom-txt">
  <span style="padding-right: 8px;">Caution! </span>
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
    <g id="Installation msg">
    <circle id="椭圆形" cx="10" cy="10" r="8.25" stroke="#979797" stroke-width="1.5"/>
    <circle id="椭圆形_2" cx="10" cy="6" r="0.5" fill="#D8D8D8" stroke="#979797"/>
    <rect id="矩形" x="9.5" y="8.5" width="1" height="6" rx="0.5" fill="#D8D8D8" stroke="#979797"/>
    </g>
  </svg>
  <p class="tip-txt">
    Individuals with photosensitive epilepsy are advised to consult doctors before using.
  </p>
</div>