<div class="turntable-link-box" style="text-align: center;">
  <a href="javascript:void(0)" id="woohoo-trigger-spinthewheel" class="woohoo-61002"  style="display: inline-block;padding: 20px 0;text-decoration: underline;">Not satisfied with the discount? Try your luck!</a>
</div>