<div>
  <div class="product-components">
    <div class="product-left-panel">
      <!-- 左侧轮播 -->
      <div class="thumbs-swiper">
        <div class="swiper myThumbs">
          <div class="swiper-wrapper">
            <!-- 缩略图 -->
            <div class="swiper-slide">
              <img
                src="./3.jpeg"
                alt="Thumbnail 1"
              >
            </div>
            <div class="swiper-slide">
              <img
                src="./2.jpg"
                alt="Thumbnail 2"
              >
            </div>
            <div class="swiper-slide">
              <img
                src="./3.jpeg"
                alt="Thumbnail 3"
              >
            </div>
            <!-- 更多缩略图 -->
          </div>
        </div>
      </div>
      <div class="main-image-swiper">
        <!-- Swiper主图 -->
        <div class="swiper myGallery">
          <div class="swiper-wrapper">
            <!-- 主图 -->
            <div class="swiper-slide">
              <img
                src="./3.jpeg"
                alt="Image 1"
              >
            </div>
            <div class="swiper-slide">
              <img
                src="./2.jpg"
                alt="Image 2"
              >
            </div>
            <div class="swiper-slide">
              <img
                src="./3.jpeg"
                alt="Image 3"
              >
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="product-right-panel">
      <div class="tags">
        <div class="new-tag">NEW</div>
      </div>
      <div class="title">Ulike Air 10</div>
      <div class="sub-title">Super Hair Removal with DualBeam™ tech</div>
      <div class="info-list">
        <ul class="description">
          <li>Visible Results In Just One Week</li>
          <li>target From Follicles Without Skin Harm</li>
          <li>leveled-up Painless Hair Removal Tech</li>
          <li>leveled-up Painless Hair Removal Tech</li>
          <li>leveled-up Painless Hair Removal Tech</li>
          <li>leveled-up Painless Hair Removal Tech</li>
        </ul>
        <div class="read-more">Read More +</div>
      </div>

      <div class="variants-list">
        <div class="color-block">
          <div class="name">Colour: Purple</div>
          <div class="color-swatch-list">
            <div class="color-swatch ">
              <input
                class="color-swatch__radio visually-hidden"
                type="radio"
                name="option1"
                form="5"
                value="Purple"
                data-bind-value="option-template--21931625152799__main-air-3-new-lp-8192641794335-1-value"
                data-gtm-form-interact-field-id="4"
              >
              <label
                class="color-swatch__item"
                for="option-template--21931625152799__main-air-3-new-lp-8192641794335-1-1"
                style="background: linear-gradient(to bottom ,#9e9bcf,#6867a0)"
              >
                <span class="visually-hidden">Purple</span>
              </label>
            </div>
            <div class="color-swatch color-swatch--white">
              <input
                class="color-swatch__radio visually-hidden"
                type="radio"
                name="option2"
                id="2"
                value="White"
                data-gtm-form-interact-field-id="3"
              >
              <label
                class="color-swatch__item"
                for="option-template--21931625152799__main-air-3-new-lp-8192641794335-1-1"
                style="background: linear-gradient(to bottom ,#9e9bcf,#6867a0)"
              >
                <span class="visually-hidden">White</span>
              </label>
            </div>
          </div>
        </div>
        <div class="plug-block">
          <div class="name">Adapter Plug Type: UK Plug</div>
          <div class="plug-list">
            <div class="item active">
              <div class="text-wrapper-6">UK Plug</div>
            </div>
            <div class="item">
              <div class="text-wrapper-7">EU Plug</div>
            </div>
          </div>
        </div>
      </div>

      <div class="price-block">
        <div class="price">
          <div class="dis-price">£249.00</div>
          <div class="original-price">£369.00</div>
        </div>
      </div>

      <div class="custom-reasons-block">
        <div class="item">
          <img class="img-2" src="https://c.animaapp.com/hl8hguHe/img/mask-group.svg">
          <div class="desc">Free 2-Day Shipping</div>
        </div>
        <div class="item">
          <img class="img-2" src="https://c.animaapp.com/hl8hguHe/img/2-year.svg">
          <div class="desc">Lifetime Warranty</div>
        </div>
        <div class="item">
          <img class="img-2" src="https://c.animaapp.com/hl8hguHe/img/group-3116.svg">
          <div class="desc">90-Day Easy Money back</div>
        </div>
      </div>

      <div class="group-sharing">
        <div class="detail">
          <div class="left-box">
            <div class="info">
              <span class="user">322 Users</span>
              <span class="text"> Group-Purchased</span>
            </div>
            <p class="text-desc">Get Best Offer with Group Purchase</p>
          </div>
          <div class="right-box">
            <div class="main-content">
              <img class="vector-2" src="https://c.animaapp.com/hl8hguHe/img/vector-115.svg">
              <div class="current-text">
                <div class="text">Current</div>
                <div class="text-price">£ 249</div>
              </div>
              <div class="offer-ends">
                <div class="text">Offer Ends</div>
                <div class="text-price">£ 269</div>
              </div>
            </div>
          </div>
        </div>

        <div class="winning-info">
          <div class="group-wrapper">
            <img class="vector" src="https://c.animaapp.com/hl8hguHe/img/vector-1.svg">
            <div class="name">Amy **</div>
            <p class="desc">
              <span class="text">initiated a group purchase, join in and enjoy the best offer, ends in soon </span>
              <span class="time">12:12:12</span>
            </p>
          </div>
          <div class="btn-group-purchase">£249&nbsp;&nbsp; GROUP PURCHASE</div>
        </div>
      </div>

      <div class="pay-block">
        <div class="btn-purchase">£369 FULL PRICE PURCHASE</div>
        <div class="more-payment">
          <div class="text">More payment options</div>
          <div class="payment-methods-list ">
            <img
              loading="lazy"
              src="//fr.ulike.com/cdn/shopifycloud/shopify/assets/payment_icons/paypal-49e4c1e03244b6d2de0d270ca0d22dd15da6e92cc7266e93eb43762df5aa355d.svg"
              width="38"
              height="24"
              alt="paypal"
            >
            <img
              loading="lazy"
              src="//fr.ulike.com/cdn/shopifycloud/shopify/assets/payment_icons/visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg"
              width="38"
              height="24"
              alt="visa"
            >
            <img
              loading="lazy"
              src="//fr.ulike.com/cdn/shopifycloud/shopify/assets/payment_icons/master-173035bc8124581983d4efa50cf8626e8553c2b311353fbf67485f9c1a2b88d1.svg"
              width="38"
              height="24"
              alt="master"
            >
            <img
              loading="lazy"
              src="//fr.ulike.com/cdn/shopifycloud/shopify/assets/payment_icons/maestro-d2055c6b416c46cf134f393e1df6e0ba31722b623870f954afd392092207889c.svg"
              width="38"
              height="24"
              alt="maestro"
            >
            <img
              loading="lazy"
              src="//fr.ulike.com/cdn/shopifycloud/shopify/assets/payment_icons/jcb-ab0f5a1739704f1ab039f19ac8c28895af5c39a3f54ee9b748ea051986b0bd36.svg"
              width="38"
              height="24"
              alt="jcb"
            >
            <img
              loading="lazy"
              src="//fr.ulike.com/cdn/shopifycloud/shopify/assets/payment_icons/american_express-12858714bc10cdf384b62b8f41d20f56d8c32c1b8fed98b662f2bfc158dcbcf0.svg"
              width="38"
              height="24"
              alt="american express"
            >
            <img
              loading="lazy"
              src="//fr.ulike.com/cdn/shopifycloud/shopify/assets/payment_icons/diners_club-16436b9fb6dd9060edb51f1c7c44e23941e544ad798282d6aef1604319562fba.svg"
              width="38"
              height="24"
              alt="diners club"
            >
            <img
              loading="lazy"
              src="//fr.ulike.com/cdn/shopifycloud/shopify/assets/payment_icons/discover-cc9808e50193c7496e7a5245eb86d5e06f02e2476c0fe70f2c40016707d35461.svg"
              width="38"
              height="24"
              alt="discover"
            >
            <img
              loading="lazy"
              src="//fr.ulike.com/cdn/shopifycloud/shopify/assets/payment_icons/klarna-389801c6056cb5600b4f05f72ebc2c58e4947688c6c4f5e6ccea41f7973d3a28.svg"
              width="38"
              height="24"
              alt="klarna"
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-toolbar">
    <div class="navbar">
      <div class="title">Air 3</div>
      <div class="list">
        <div class="item active">SHR mode</div>
        <div class="item">Real results</div>
        <div class="item">Upgrade comfort</div>
        <div class="item">Skin sensor</div>
      </div>
    </div>
    <div class="right-panel">
      <div class="box-price">
        <div class="dis-price">£249.00 <span class="price m-hide">£369.00</span></div>
        <div class="original-price ">
          <div class="price p-hide">£369.00</div>
          <div class="group-purchase-offer">Group Purchase Offer</div>
        </div>
      </div>
      <div class="btn-add-cart">ADD TO CART</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "A10 Product Block",
  "settings": [],
  "presets": [
    {
      "name": "u-a10-product-block",
      "category": "u-a10-product-block",
      "blocks": []
    }
  ]
}
{% endschema %}

<style>
  .visually-hidden {
    display: none;
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  .swiper-pagination-bullet {
    --swiper-pagination-color: #000000;
    --swiper-pagination-bullet-inactive-color: #d9d9d9;
    --swiper-pagination-bullet-border-radius: 80px;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 7px;
  }

  .product-components {
    width: 100%;
    display: flex;
    margin-top: 20px;
  }
  .product-components .product-left-panel {
    width: 55%;
    padding: 15px 30px 15px 50px;
    display: flex;
  }
  .product-components .product-left-panel .thumbs-swiper {
    width: 80px;
    display: flex;
    justify-content: center;
  }
  .product-components .product-left-panel .thumbs-swiper .myThumbs {
    height: 100%;
  }
  .product-components .product-left-panel .thumbs-swiper .myThumbs .swiper-slide {
    height: 72px;
    opacity: 0.7;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }
  .product-components .product-left-panel .thumbs-swiper .myThumbs .swiper-slide img {
    width: 70px;
    border-radius: 6px;
    height: auto;
  }
  .product-components .product-left-panel .thumbs-swiper .myThumbs .swiper-slide-thumb-active {
    border: 1px solid #3f3636;
    opacity: 1;
  }
  .product-components .product-left-panel .main-image-swiper {
    margin-left: 20px;
    width: calc(100% - 80px);
  }
  .product-components .product-left-panel .main-image-swiper .myGallery img {
    width: 100%;
  }
  .product-components .product-right-panel {
    width: 45%;
    padding: 15px 30px 15px 50px;
  }
  .product-components .product-right-panel .new-tag {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 0, 77);
    color: #e0004d;
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid #e0004d;
    padding: 2px 10px;
    display: inline-block;
  }
  .product-components .product-right-panel .tags {
    margin-bottom: 5px;
  }
  .product-components .product-right-panel .title {
    color: #333;
    font-family: Saans;
    font-size: 40px;
    font-style: normal;
    font-weight: 380;
    line-height: 125%;
  }
  .product-components .product-right-panel .sub-title {
    color: #333;
    font-family: Saans;
    font-size: 16px;
    font-style: normal;
    font-weight: 380;
    line-height: 150%;
  }
  .product-components .product-right-panel .info-list .description {
    padding-inline-start: 20px;
    margin-block-end: 0px;
    max-height: 5em;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  .product-components .product-right-panel .info-list .description li {
    font-family: Saans;
    color: #3f3636;
    font-size: 14px;
    font-style: normal;
    font-weight: 380;
    line-height: 180%; /* 25.2px */
    text-transform: capitalize;
  }
  .product-components .product-right-panel .info-list .expanded {
    max-height: initial;
  }
  .product-components .product-right-panel .read-more {
    color: #e0004d;
    font-family: Saans;
    font-size: 14px;
    font-weight: 380;
    line-height: 180%;
    text-decoration-line: underline;
    margin-bottom: 25px;
    margin-left: 10px;
    cursor: pointer;
  }
  .product-components .product-right-panel .variants-list {
    display: flex;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding: 25px 0px;
  }
  .product-components .product-right-panel .variants-list .color-block {
    display: block;
    margin-right: 47px;
    position: relative;
  }
  .product-components .product-right-panel .variants-list .color-block .name {
    color: #333;
    font-family: Saans;
    font-size: 16px;
    font-weight: 380;
    line-height: 150%;
    margin-bottom: 14px;
  }
  .product-components .product-right-panel .variants-list .color-block .color-swatch-list {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(auto-fit, 40px);
    grid-gap: 8px;
    gap: 8px;
  }
  .product-components .product-right-panel .variants-list .plug-block {
    border-left: 1px solid #f2f2f2;
    padding-left: 47px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
  }
  .product-components .product-right-panel .variants-list .plug-block .name {
    color: #333;
    font-family: Saans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  .product-components .product-right-panel .variants-list .plug-block .plug-list {
    display: flex;
    gap: 10px;
  }
  .product-components .product-right-panel .variants-list .plug-block .plug-list .item {
    color: #333;
    font-family: Saans;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    border-radius: 50px;
    border: 1px solid #d9d9d9;
    padding: 6px 30px;
    cursor: pointer;
  }
  .product-components .product-right-panel .variants-list .plug-block .plug-list .item.active {
    border: 1px solid #333;
  }
  .product-components .product-right-panel .variants-list .color-swatch__item {
    position: relative;
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    -webkit-tap-highlight-color: transparent;
    border: 2px solid #d9d9d9;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }
  .product-components .product-right-panel .variants-list .color-swatch__item::before,
  .product-components .product-right-panel .variants-list .color-swatch__item::after {
    position: absolute;
    content: '';
    border: 2px solid #222;
    pointer-events: none;
    border-radius: inherit;
  }
  .product-components .product-right-panel .variants-list .color-swatch__item::before {
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
  }
  .product-components .product-right-panel .variants-list .color-swatch__item::after {
    top: -3px;
    left: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-color: rgb(var(--text-color));
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.2s ease, transform 0.2s ease;
  }
  .product-components .product-right-panel .variants-list .color-swatch--white .color-swatch__item::before {
    box-shadow: 0 0 0 1px rgba(var(--text-color), 0.3) inset;
  }
  .product-components .product-right-panel .variants-list .color-swatch__radio:checked + .color-swatch__item::after {
    opacity: 1;
    transform: scale(1);
  }
  .product-components .product-right-panel .price-block {
    margin: 50px 0px 25px;
  }
  .product-components .product-right-panel .price-block .price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Saans;
  }
  .product-components .product-right-panel .price-block .price .dis-price {
    color: #e0004d;
    font-size: 32px;
    font-weight: 380;
    line-height: 130%; /* 41.6px */
    text-transform: capitalize;
  }
  .product-components .product-right-panel .price-block .price .original-price {
    color: #a1a1a1;
    font-size: 20px;
    font-weight: 380;
    line-height: 130%; /* 26px */
    text-decoration: line-through;
    text-transform: capitalize;
  }
  .product-components .product-right-panel .custom-reasons-block {
    display: flex;
    gap: 50px;
  }
  .product-components .product-right-panel .custom-reasons-block .item {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  .product-components .product-right-panel .custom-reasons-block .item .desc {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.14px;
    color: #040000;
  }
  .product-components .product-right-panel .group-sharing {
    border: 1px solid #3f3636;
    margin-top: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
  }
  .product-components .product-right-panel .group-sharing .detail {
    display: flex;
  }
  .product-components .product-right-panel .group-sharing .detail .left-box {
    font-family: Saans;
  }
  .product-components .product-right-panel .group-sharing .detail .left-box .info {
    font-size: 14px;
    color: #e0004d;
  }
  .product-components .product-right-panel .group-sharing .detail .left-box .info .text {
    color: #3f3636;
  }
  .product-components .product-right-panel .group-sharing .detail .left-box .text-desc {
    font-size: 16px;
    font-weight: bold;
    color: #3f3636;
    margin-top: 10px;
  }
  .product-components .product-right-panel .group-sharing .detail .right-box {
    padding: 0px 0px 0px 20px;
  }
  .product-components .product-right-panel .group-sharing .detail .right-box .main-content {
    position: relative;
    padding: 24px 0px 0px;
  }
  .product-components .product-right-panel .group-sharing .detail .right-box .main-content .current-text {
    position: absolute;
    width: 90px;
    height: 55px;
    top: 10px;
    left: 16px;
    text-align: center;
    background: #190a0a;
    color: #fff;
    padding: 5px 15px 0px;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 60%, 50% 100%, 0 60%);
    clip-path: polygon(0% 0%, 100% 0, 100% 60%, 50% 100%, 0 60%);
    font-size: 12px;
  }
  .product-components .product-right-panel .group-sharing .detail .right-box .main-content .current-text .text-price {
    font-size: 16px;
    font-weight: bold;
  }
  .product-components .product-right-panel .group-sharing .detail .right-box .main-content .offer-ends {
    position: absolute;
    top: 8px;
    right: 0px;
    color: #000;
    text-align: right;
    font-size: 12px;
  }
  .product-components .product-right-panel .group-sharing .detail .right-box .main-content .offer-ends .text-price {
    font-size: 16px;
    font-weight: bold;
  }
  .product-components .product-right-panel .group-sharing .winning-info {
    margin-top: 10px;
  }
  .product-components .product-right-panel .group-sharing .winning-info .group-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: Saans;
    font-size: 14px;
  }
  .product-components .product-right-panel .group-sharing .winning-info .group-wrapper .name {
    color: #e0004a;
    font-weight: 400;
    line-height: 150%;
  }
  .product-components .product-right-panel .group-sharing .winning-info .group-wrapper .time {
    color: #e0004d;
  }
  .product-components .product-right-panel .group-sharing .winning-info .btn-group-purchase {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 14px 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: var(--Ulike---Off-Black, #190a0a);
    color: var(--WHITE, #fff);
    text-align: center;
    font-family: Saans;
    font-size: 14px;
    font-style: normal;
    font-weight: 570;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
  }
  .product-components .product-right-panel .pay-block {
    margin: 25px 0px 10px;
    width: 100%;
  }
  .product-components .product-right-panel .pay-block .btn-purchase {
    display: flex;
    height: 50px;
    padding: 14px 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #3f3636;
    background: #fff;
    cursor: pointer;
  }
  .product-components .product-right-panel .pay-block .more-payment {
    margin: 10px 0px 10px;
  }
  .product-components .product-right-panel .pay-block .more-payment .text {
    color: #797979;
    font-family: Saans;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .product-components .product-right-panel .pay-block .more-payment .payment-methods-list {
    opacity: 0;
    text-align: center;
  }
  .product-components .product-right-panel .pay-block .more-payment:hover {
    color: #000;
  }
  .product-components .product-right-panel .pay-block .more-payment:hover .payment-methods-list {
    display: block;
    opacity: 1;
  }

  .product-toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 4;
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-top: 1px solid #e4dddd;
    border-bottom: 1px solid #e4dddd;
  }
  .product-toolbar .navbar {
    display: flex;
    padding: 0px 40px;
    align-items: center;
  }
  .product-toolbar .navbar .title {
    font-family: Saans;
    font-size: 20px;
    color: #000;
    font-weight: 380;
    line-height: 23px;
  }
  .product-toolbar .navbar .list {
    border-left: 1px solid #e4dddd;
    line-height: 20px;
    letter-spacing: 0.14px;
    display: flex;
    gap: 15px;
    margin-left: 15px;
    padding-left: 15px;
  }
  .product-toolbar .navbar .list .item {
    opacity: 0.2;
    line-height: 23px;
    font-size: 14px;
    cursor: pointer;
  }
  .product-toolbar .navbar .list .item:hover {
    opacity: 1;
  }
  .product-toolbar .navbar .list .active {
    opacity: 1;
  }
  .product-toolbar .right-panel {
    display: flex;
    align-items: center;
    padding-right: 40px;
  }
  .product-toolbar .right-panel .box-price {
    display: flex;
    align-items: center;
  }
  .product-toolbar .right-panel .dis-price {
    font-family: Saans;
    font-size: 32px;
    font-weight: 380;
    line-height: 130%;
    text-transform: capitalize;
    color: #e0004d;
  }
  .product-toolbar .right-panel .original-price {
    display: block;
    text-align: left;
    color: #e0004d;
    font-family: Saans;
    font-size: 12px;
    margin: 0px 20px 0px 10px;
  }
  .product-toolbar .right-panel .original-price .price {
    color: #a1a1a1;
    font-size: 14px;
    text-decoration: line-through;
    text-transform: capitalize;
  }
  .product-toolbar .right-panel .btn-add-cart {
    display: flex;
    width: 160px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    color: #fff;
    background: #000;
    border-radius: 130px;
    cursor: pointer;
  }

  .p-hide {
    display: block;
  }

  .m-hide {
    display: none;
  }

  @media (max-width: 768px) {
    .p-hide {
      display: none !important;
    }
    .m-hide {
      display: block;
    }
    .product-components {
      display: block;
    }
    .product-components .product-left-panel {
      width: 100%;
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      padding: 0px 15px;
    }
    .product-components .product-left-panel .main-image-swiper {
      width: 100%;
      margin: 0px;
    }
    .product-components .product-left-panel .thumbs-swiper {
      width: 100%;
      display: block;
      margin-top: 6px;
    }
    .product-components .product-left-panel .thumbs-swiper .myThumbs .swiper-slide {
      width: 52px;
      height: 52px;
    }
    .product-components .product-left-panel .thumbs-swiper .myThumbs .swiper-slide img {
      width: 100%;
      height: auto;
    }
    .product-components .product-right-panel {
      width: 100%;
      padding: 30px 20px 20px;
    }
    .product-components .product-right-panel .title {
      font-size: 28px;
    }
    .product-components .product-right-panel .sub-title {
      font-size: 12px;
    }
    .product-components .product-right-panel .info-list .description li {
      font-size: 12px;
    }
    .product-components .product-right-panel .read-more {
      font-size: 12px;
      margin-bottom: 20px;
    }
    .product-components .product-right-panel .variants-list {
      padding: 20px 0px;
    }
    .product-components .product-right-panel .variants-list .color-block {
      margin-right: 20px;
    }
    .product-components .product-right-panel .variants-list .color-block .name {
      font-size: 14px;
      margin-bottom: 15px;
    }
    .product-components .product-right-panel .variants-list .plug-block {
      gap: 15px;
      padding-left: 20px;
    }
    .product-components .product-right-panel .variants-list .plug-block .name {
      font-size: 14px;
    }
    .product-components .product-right-panel .variants-list .plug-block .plug-list .item {
      width: 90px;
      font-size: 12px;
      padding: 6px 20px;
    }
    .product-components .product-right-panel .price-block {
      margin: 20px 0px;
    }
    .product-components .product-right-panel .price-block .price .dis-price {
      font-size: 24px;
    }
    .product-components .product-right-panel .price-block .price .original-price {
      font-size: 16px;
    }
    .product-components .product-right-panel .custom-reasons-block {
      display: block;
    }
    .product-components .product-right-panel .custom-reasons-block .item {
      color: #333;
      font-size: 12px;
    }
    .product-components .product-right-panel .group-sharing {
      margin-top: 20px;
    }
    .product-components .product-right-panel .group-sharing .detail {
      display: block;
    }
    .product-components .product-right-panel .group-sharing .detail .left-box {
      text-align: center;
    }
    .product-components .product-right-panel .group-sharing .detail .left-box .info {
      font-size: 12px;
    }
    .product-components .product-right-panel .group-sharing .detail .left-box .text-desc {
      font-size: 14px;
      margin-top: 4px;
    }
    .product-components .product-right-panel .group-sharing .detail .right-box {
      padding: 15px 0px 0px;
    }
    .product-components .product-right-panel .group-sharing .detail .right-box img {
      width: 100%;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    .product-components .product-right-panel .group-sharing .detail .right-box .main-content .current-text {
      top: 5px;
      left: 9px;
    }
    .product-components .product-right-panel .group-sharing .winning-info .btn-group-purchase {
      font-size: 12px;
      height: 40px;
    }
    .product-components .product-right-panel .pay-block .btn-purchase {
      font-size: 12px;
      height: 40px;
      font-weight: bold;
    }
    .product-toolbar {
      height: 75px;
    }
    .product-toolbar .navbar {
      display: none;
    }
    .product-toolbar .right-panel {
      padding: 0px 20px;
      width: 100%;
      justify-content: space-between;
    }
    .product-toolbar .right-panel .box-price {
      display: block;
    }
    .product-toolbar .right-panel .dis-price {
      font-size: 24px;
      line-height: 24px;
    }
    .product-toolbar .right-panel .original-price {
      margin: 0px;
      font-size: 12px;
    }
    .product-toolbar .right-panel .price {
      color: #a1a1a1;
      font-size: 14px;
      text-decoration: line-through;
      text-transform: capitalize;
      display: inline-block;
    }
    .product-toolbar .right-panel .btn-add-cart {
      width: 146px;
      font-size: 12px;
    }
  }
</style>
