<style>
  .active_part--item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.active_part--list {
    display: flex;
    background: #1c64a7ff;
    padding: 32px 0;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position:relative;
}
.active_part--list.bg1{
background: #509bd1ff;
}
.active_part--list.bg2{
  background: #8fc6eeff;
}
.active_part-right {
    margin-left: 20px;
}
.active_part-right .active_part-title {
    font-size: 20px;
}
.active_part-right .active_part-txt {
     font-size: 14px;
}
.active_part--list::after {
  content: '';
  position: absolute;
  top: 50%;
  right:0;
  transform: translateY(-50%) translateX(8px);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #1C64A7;
  z-index: 1;
}
.active_part--list.bg1::after {
   border-left: 8px solid #509BD1;
}
.active_part--list.bg2::after {
   content: none;
}


.lucky-wrap {
    margin-top: 75px;
    margin-bottom: 130px;
}
.lucky_draw--item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.lucky_draw--left {
    position: relative;
}
.lucky_draw--left svg{
    position: absolute;
    left: -15px;
    top: 0;
}
.lucky_draw--box{
  padding: 60px 75px 60px 150px;
  background: linear-gradient(180deg, #F6DDD8 0%, #e0004d 100%);
}
.lucky_draw--left {
    position: relative;
    flex-shrink: 0;
    flex-basis: 44.5%;
}
.luck_image--box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 50px;
}
.luck_image--list {
    border-radius: 50%;
    background: #ffffff;
    width: 137px;
    height: 137px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.1;
}
.luck_image--list img{
     max-width: 50px; 
}
  .luck_image--list.free img{
     max-width: 92px; 
        margin-bottom: 8px;
}
.lucky_draw--right {
    margin-left: 130px;
    max-width: 366px;
}
.luck_image--free{
  margin-top: 5px;
  font-size: 16px;
  color: #e0004dff;
  font-weight: bold;
}
.luck_image--txt{
   color: #656565ff;
 font-size: 10px;
}
.lucky_draw--right .title{
  margin-bottom: 10px;
}
.spin-btn {
    width: 100%;
    display: inline-block;
    height: 50px;
    background: #FFDA27;
    color: #040000;
    line-height: 50px;
    text-align: center;
    margin-top: 30px;
    transition: all .3s;
    border: 1px solid #FFDA27;
}
.spin-btn:hover {
    background: #ffffff;
    color: #040000ff;
}
.lucky-txt {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 5px;
   color: #3d3d3dff;
}
  @media (max-width: 1216px){
    .lucky_draw--box {
    padding: 60px 75px;
     }
    .lucky_draw--right {
    margin-left: 80px;
}
  }
    @media (max-width: 1052px){
   .lucky_draw--box {
    padding: 50px 20px 20px;
}
      .lucky_draw--item {
    flex-direction: column;
}
      .lucky_draw--right {
    margin-left: 0px;
    max-width: auto;
    text-align: center;
    margin-top: 20px;
}
  }
   @media (max-width: 768px){
    .active_part--item {
    grid-template-columns: 1fr;
}
     .active_part-right .active_part-title {
    font-size: 16px;
}
     .active_part--list::after {
    top: auto;
    right: auto;
    rotate: 90deg;
    bottom: 0;
    left: 50%;
    transform: translateY(10px) translateX(150%);
}
     .active_part--list {
    margin-bottom: 20px;
    justify-content: left;
    padding-left: 10px;
}
     .lucky-wrap {
    margin-top: 50px;
    margin-bottom: 50px;
}
     .lucky_draw--left svg{
           top: -23px;
    width: 80px;
     }
  }
</style>

<section class="section">
  <div class="container">
    <div class="active-wrap">
      <h3 class="title h3 text--center">Activity Timeline</h3>
      <div class="active_part--box">
        <div class="active_part--item">
          <div class="active_part--list">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
              <circle cx="25.0017" cy="24.9998" r="22.8611" stroke="white" stroke-width="1.5"/>
              <mask id="mask0_1451_197" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="40" height="40">
              <circle cx="25.0018" cy="24.9993" r="19.3182" fill="white"/>
              </mask>
              <g mask="url(#mask0_1451_197)">
              <line x1="22.6478" y1="29.3774" x2="15.6478" y2="41.3774" stroke="white" stroke-width="1.5"/>
              <line x1="34.6478" y1="9.37741" x2="27.6478" y2="21.3774" stroke="white" stroke-width="1.5"/>
              <line x1="19.7818" y1="25.5845" x2="6.78193" y2="25.5263" stroke="white" stroke-width="1.5"/>
              <line x1="43.1021" y1="25.977" x2="30.1022" y2="25.9189" stroke="white" stroke-width="1.5"/>
              <line x1="21.634" y1="21.2066" x2="14.7417" y2="9.14438" stroke="white" stroke-width="1.5"/>
              <line x1="32.9543" y1="41.5987" x2="26.062" y2="29.5365" stroke="white" stroke-width="1.5"/>
              <path d="M25.0026 17.5L25.6521 17.125L25.0026 16L24.3531 17.125L25.0026 17.5ZM26.5962 20.2602L25.9467 20.6352L26.0884 20.8806L26.3569 20.971L26.5962 20.2602ZM23.4103 20.258L23.6486 20.9692L23.9178 20.8789L24.0598 20.633L23.4103 20.258ZM24.3531 17.875L25.9467 20.6352L27.2457 19.8852L25.6521 17.125L24.3531 17.875ZM24.0598 20.633L25.6521 17.875L24.3531 17.125L22.7607 19.883L24.0598 20.633ZM20.75 25C20.75 23.1263 21.9629 21.534 23.6486 20.9692L23.1719 19.5469C20.8934 20.3104 19.25 22.4623 19.25 25H20.75ZM25 29.25C22.6528 29.25 20.75 27.3472 20.75 25H19.25C19.25 28.1756 21.8244 30.75 25 30.75V29.25ZM29.25 25C29.25 27.3472 27.3472 29.25 25 29.25V30.75C28.1756 30.75 30.75 28.1756 30.75 25H29.25ZM26.3569 20.971C28.0397 21.5375 29.25 23.1284 29.25 25H30.75C30.75 22.4651 29.1101 20.3151 26.8355 19.5494L26.3569 20.971Z" fill="white"/>
              </g>
              <circle cx="24.9979" cy="25.0003" r="18.5682" stroke="white" stroke-width="1.5"/>
            </svg>
            <div class="active_part-right">
              <div class="active_part-title">
                 Lucky Draw and Luxurious Giveaways
              </div>
              <div class="active_part-txt">
                June 8 - June 28
              </div>
            </div>
          </div>
          <div class="active_part--list bg1">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
              <rect x="4.82031" y="12.6582" width="40.1667" height="6.43651" rx="0.837506" stroke="white" stroke-width="1.5"/>
              <path d="M8.75 19.375V45.2875C8.75 46.1642 9.46075 46.875 10.3375 46.875H39.0375C39.9142 46.875 40.625 46.1642 40.625 45.2875V19.375" stroke="white" stroke-width="1.5"/>
              <line x1="20.125" y1="12.5" x2="20.125" y2="46.875" stroke="white" stroke-width="1.5"/>
              <line x1="29.5" y1="12.5" x2="29.5" y2="46.875" stroke="white" stroke-width="1.5"/>
              <path d="M17.9495 12.0529C15.9838 10.0985 12.6437 5.52173 15.009 2.85062C17.9656 -0.488277 23.9361 4.204 24.2437 11.6706" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              <path d="M31.1404 12.0529C33.1061 10.0985 36.4461 5.52173 34.0808 2.85062C31.1242 -0.488277 25.1537 4.204 24.8461 11.6706" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
            <div class="active_part-right">
              <div class="active_part-title">
                Lucky Draw Winner Announcement
              </div>
              <div class="active_part-txt">
                June 15/June 21/June 28
              </div>
            </div>
          </div>
          <div class="active_part--list bg2">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
              <path d="M3.60938 12.4096C3.60938 10.0624 5.51217 8.15961 7.85938 8.15961H18.4196V7.40961C18.4196 8.15961 18.4197 8.15961 18.4198 8.15961H18.4202L18.4214 8.15961L18.4255 8.1596L18.4406 8.15956L18.4973 8.15923C18.5466 8.15885 18.6189 8.1581 18.7122 8.15662C18.8988 8.15366 19.1698 8.14776 19.5105 8.13601C20.1918 8.11252 21.1535 8.06559 22.2793 7.97178C24.5237 7.78474 27.4497 7.40904 30.1105 6.64883C33.7976 5.59536 37.9776 3.11411 40.1871 1.70002C40.2783 1.6417 40.3884 1.63911 40.4892 1.69291C40.5885 1.74583 40.6393 1.83117 40.6393 1.92992V27.9153C40.6393 28.1092 40.4275 28.2355 40.2554 28.1396C37.8213 26.783 32.9298 24.1131 30.183 23.0144C28.2127 22.2263 25.2369 21.8514 22.8302 21.6663C21.6114 21.5725 20.5109 21.5257 19.7151 21.5023C19.317 21.4906 18.9945 21.4847 18.771 21.4818C18.6592 21.4803 18.572 21.4796 18.5125 21.4792L18.4443 21.4789L18.4263 21.4788L18.4215 21.4788H18.4202H18.4198C18.4197 21.4788 18.4196 21.4788 18.4196 22.2288V21.4788H7.85937C5.51216 21.4788 3.60938 19.576 3.60938 17.2288V12.4096Z" stroke="white" stroke-width="1.5"/>
              <line x1="16.2031" y1="7.78027" x2="16.2031" y2="21.8585" stroke="white" stroke-width="1.5"/>
              <path d="M8.32422 13.6621H12.4228" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              <line x1="43.7237" y1="9.7665" x2="46.9165" y2="7.92313" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              <line x1="0.75" y1="-0.75" x2="4.43673" y2="-0.75" transform="matrix(0.866025 0.5 0.5 -0.866025 43.4492 17.7607)" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              <path d="M8.32422 16.3945H12.4228" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              <line x1="43.8516" y1="14.2783" x2="47.5383" y2="14.2783" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
              <path d="M7.30078 21.6973L14.342 45.1399C14.9113 47.0353 16.9092 48.1102 18.8045 47.5409V47.5409C20.6999 46.9717 21.7748 44.9737 21.2055 43.0784L14.7835 21.6973" stroke="white" stroke-width="1.5"/>
              <path d="M19.5296 21.8584C19.7766 23.3403 19.4555 26.2301 16.1953 25.9337" stroke="white" stroke-width="1.5"/>
            </svg>
            <div class="active_part-right">
              <div class="active_part-title">
               Giveaways Winner Announcement
              </div>
              <div class="active_part-txt">
                July 5
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lucky-wrap">
      <h3 class="title h3 text--center">Lucky Draw</h3>
      <div class="lucky_draw--box">
        <a href="javascript:void(0)" id="woohoo-trigger-spinthewheel" class="woohoo-57296">
        <div class="lucky_draw--item">
          <div class="lucky_draw--left">
            <img src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/pc.png?v=1686196333" alt="">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" fill="none">
            <path d="M48.0914 1.83581C48.9699 0.855937 50.5046 0.855938 51.3832 1.83581L53.0819 3.73061C53.8396 4.57569 55.1142 4.70965 56.031 4.04056L58.0866 2.54037C59.1496 1.76456 60.6509 2.08366 61.3065 3.22478L62.5742 5.43136C63.1396 6.41551 64.3584 6.81154 65.3943 6.34768L67.7169 5.30766C68.918 4.76982 70.3201 5.39408 70.7241 6.64656L71.5054 9.0685C71.8538 10.1487 72.9637 10.7895 74.0734 10.5511L76.5615 10.0167C77.8481 9.74037 79.0898 10.6425 79.2246 11.9516L79.4852 14.4831C79.6014 15.6121 80.5538 16.4696 81.6888 16.4672L84.2336 16.4618C85.5497 16.459 86.5766 17.5996 86.4363 18.9081L86.1649 21.4384C86.0438 22.5669 86.7971 23.6037 87.9078 23.8373L90.3982 24.3611C91.686 24.632 92.4534 25.9612 92.0441 27.2119L91.2525 29.6305C90.8995 30.7092 91.4208 31.88 92.4586 32.3394L94.7856 33.3696C95.989 33.9023 96.4633 35.3619 95.8028 36.5002L94.5257 38.7014C93.9562 39.6831 94.2226 40.9367 95.1423 41.6019L97.2042 43.0933C98.2706 43.8646 98.431 45.391 97.5483 46.3671L95.8415 48.2546C95.0802 49.0965 95.0802 50.378 95.8415 51.2199L97.5483 53.1074C98.431 54.0836 98.2706 55.6099 97.2042 56.3812L95.1423 57.8726C94.2226 58.5378 93.9562 59.7914 94.5257 60.7731L95.8028 62.9743C96.4633 64.1126 95.989 65.5722 94.7856 66.105L92.4586 67.1351C91.4208 67.5945 90.8995 68.7653 91.2525 69.844L92.0441 72.2626C92.4534 73.5133 91.686 74.8425 90.3982 75.1134L87.9078 75.6372C86.7971 75.8708 86.0438 76.9076 86.1649 78.0361L86.4363 80.5664C86.5766 81.875 85.5497 83.0155 84.2336 83.0127L81.6888 83.0073C80.5538 83.0049 79.6014 83.8624 79.4852 84.9915L79.2246 87.5229C79.0898 88.832 77.8481 89.7341 76.5615 89.4578L74.0734 88.9234C72.9637 88.685 71.8538 89.3258 71.5054 90.406L70.7241 92.828C70.3201 94.0804 68.918 94.7047 67.7169 94.1669L65.3943 93.1268C64.3584 92.663 63.1396 93.059 62.5742 94.0432L61.3065 96.2497C60.6509 97.3909 59.1496 97.71 58.0866 96.9341L56.031 95.434C55.1142 94.7649 53.8396 94.8988 53.0819 95.7439L51.3832 97.6387C50.5046 98.6186 48.9699 98.6186 48.0914 97.6387L46.3926 95.7439C45.6349 94.8988 44.3603 94.7649 43.4435 95.434L41.3879 96.9341C40.3249 97.71 38.8236 97.3909 38.168 96.2497L36.9003 94.0432C36.3349 93.059 35.1161 92.663 34.0802 93.1268L31.7576 94.1669C30.5565 94.7047 29.1544 94.0804 28.7504 92.828L27.9691 90.406C27.6207 89.3258 26.5108 88.685 25.4011 88.9234L22.9131 89.4578C21.6264 89.7341 20.3847 88.832 20.2499 87.5229L19.9893 84.9915C19.8731 83.8624 18.9207 83.0049 17.7857 83.0073L15.2409 83.0127C13.9248 83.0155 12.8979 81.875 13.0382 80.5664L13.3096 78.0361C13.4307 76.9076 12.6774 75.8708 11.5667 75.6372L9.07634 75.1134C7.78849 74.8425 7.0211 73.5133 7.43044 72.2626L8.22199 69.844C8.57502 68.7653 8.05376 67.5945 7.0159 67.1351L4.68889 66.105C3.4855 65.5722 3.01122 64.1126 3.67166 62.9743L4.94877 60.7731C5.51836 59.7914 5.2519 58.5378 4.33225 57.8726L2.27026 56.3812C1.20393 55.6099 1.0435 54.0836 1.92618 53.1074L3.63302 51.2199C4.39428 50.378 4.39428 49.0965 3.63302 48.2546L1.92618 46.3671C1.0435 45.391 1.20393 43.8646 2.27026 43.0933L4.33225 41.6019C5.2519 40.9367 5.51836 39.6831 4.94877 38.7014L3.67166 36.5002C3.01122 35.3619 3.4855 33.9023 4.68889 33.3696L7.0159 32.3394C8.05376 31.88 8.57502 30.7092 8.22199 29.6305L7.43044 27.2119C7.0211 25.9612 7.78849 24.632 9.07634 24.3611L11.5667 23.8373C12.6774 23.6037 13.4307 22.5669 13.3096 21.4384L13.0382 18.9081C12.8979 17.5996 13.9248 16.459 15.2409 16.4618L17.7857 16.4672C18.9207 16.4696 19.8731 15.6121 19.9893 14.4831L20.2499 11.9516C20.3847 10.6425 21.6264 9.74038 22.9131 10.0167L25.4011 10.5511C26.5108 10.7895 27.6207 10.1487 27.9691 9.0685L28.7504 6.64656C29.1544 5.39408 30.5565 4.76982 31.7576 5.30766L34.0802 6.34768C35.1161 6.81154 36.3349 6.41551 36.9003 5.43136L38.168 3.22477C38.8236 2.08366 40.3249 1.76456 41.3879 2.54037L43.4435 4.04056C44.3603 4.70965 45.6349 4.57569 46.3926 3.73061L48.0914 1.83581Z" fill="#FFDA27"/>
            <path d="M30.4706 31.9515H32.1859V44.7373H29.9223V35.9305H26.863V34.2505L28.1009 34.1444C29.6925 34.0029 30.3468 33.4547 30.4706 31.9515ZM34.0876 38.3886C34.0876 34.5157 35.9267 31.8454 39.0746 31.8454C42.2224 31.8454 44.0615 34.5157 44.0615 38.3886C44.0615 42.2615 42.2224 44.9318 39.0746 44.9318C35.9267 44.9318 34.0876 42.2615 34.0876 38.3886ZM36.3512 38.3886C36.3512 41.059 37.2 42.9689 39.0746 42.9689C40.9491 42.9689 41.7979 41.059 41.7979 38.3886C41.7979 35.7183 40.9491 33.8084 39.0746 33.8084C37.2 33.8084 36.3512 35.7183 36.3512 38.3886ZM45.2612 38.3886C45.2612 34.5157 47.1003 31.8454 50.2482 31.8454C53.396 31.8454 55.2352 34.5157 55.2352 38.3886C55.2352 42.2615 53.396 44.9318 50.2482 44.9318C47.1003 44.9318 45.2612 42.2615 45.2612 38.3886ZM47.5248 38.3886C47.5248 41.059 48.3736 42.9689 50.2482 42.9689C52.1227 42.9689 52.9716 41.059 52.9716 38.3886C52.9716 35.7183 52.1227 33.8084 50.2482 33.8084C48.3736 33.8084 47.5248 35.7183 47.5248 38.3886ZM56.1872 35.1701C56.1872 33.2071 57.1598 31.8454 58.9106 31.8454C60.6613 31.8454 61.634 33.2071 61.634 35.1701C61.634 37.133 60.6613 38.4947 58.9106 38.4947C57.1598 38.4947 56.1872 37.133 56.1872 35.1701ZM67.8943 32.0399L59.4234 44.7373H57.3721L65.8429 32.0399H67.8943ZM57.9203 35.1701C57.9203 36.3372 58.274 37.08 58.9106 37.08C59.5472 37.08 59.9009 36.3372 59.9009 35.1701C59.9009 34.0029 59.5472 33.2602 58.9106 33.2602C58.274 33.2602 57.9203 34.0029 57.9203 35.1701ZM69.0791 41.6072C69.0791 43.5701 68.1065 44.9318 66.3557 44.9318C64.605 44.9318 63.6323 43.5701 63.6323 41.6072C63.6323 39.6442 64.605 38.2825 66.3557 38.2825C68.1065 38.2825 69.0791 39.6442 69.0791 41.6072ZM65.3654 41.6072C65.3654 42.7743 65.7191 43.5171 66.3557 43.5171C66.9923 43.5171 67.346 42.7743 67.346 41.6072C67.346 40.44 66.9923 39.6973 66.3557 39.6973C65.7191 39.6973 65.3654 40.44 65.3654 41.6072ZM24.4112 53.453H26.1619L27.8243 59.6072L29.4689 53.453H31.5733L28.7792 62.7373H26.94L25.2423 56.6539L23.5446 62.7373H21.7055L18.9113 53.453H21.0865L22.7665 59.6072L24.4112 53.453ZM32.6826 52.2151V50.0399H34.8755V52.2151H32.6826ZM34.8401 53.453V62.7373H32.718V53.453H34.8401ZM37.07 62.7373V53.453H39.1921V54.4433C39.7227 53.8244 40.5538 53.2762 41.7564 53.2762C43.7016 53.2762 44.8688 54.6202 44.8688 56.6185V62.7373H42.7467V57.2375C42.7467 56.088 42.2869 55.2568 41.1197 55.2568C40.1648 55.2568 39.1921 55.9642 39.1921 57.2905V62.7373H37.07ZM47.0347 62.7373V53.453H49.1568V54.4433C49.6874 53.8244 50.5185 53.2762 51.7211 53.2762C53.6664 53.2762 54.8335 54.6202 54.8335 56.6185V62.7373H52.7114V57.2375C52.7114 56.088 52.2516 55.2568 51.0844 55.2568C50.1295 55.2568 49.1568 55.9642 49.1568 57.2905V62.7373H47.0347ZM56.9641 52.2151V50.0399H59.1569V52.2151H56.9641ZM59.1216 53.453V62.7373H56.9994V53.453H59.1216ZM61.3515 62.7373V53.453H63.4736V54.4433C64.0041 53.8244 64.8353 53.2762 66.0378 53.2762C67.9831 53.2762 69.1503 54.6202 69.1503 56.6185V62.7373H67.0281V57.2375C67.0281 56.088 66.5683 55.2568 65.4012 55.2568C64.4462 55.2568 63.4736 55.9642 63.4736 57.2905V62.7373H61.3515ZM79.5748 61.8C79.5748 64.5411 77.7002 66.115 75.0476 66.115C72.9078 66.115 71.4046 65.2131 70.821 63.4093L72.8017 62.7019C73.0846 63.7453 73.8804 64.3996 75.0476 64.3996C76.48 64.3996 77.4526 63.6923 77.4526 61.9946V61.3402C76.9575 61.9946 76.0202 62.5074 74.8354 62.5074C72.2888 62.5074 70.768 60.4383 70.768 57.8918C70.768 55.3452 72.2888 53.2762 74.8354 53.2762C76.0025 53.2762 76.9575 53.789 77.4526 54.4433V53.453H79.5748V61.8ZM77.488 57.8034C77.488 56.1057 76.5684 55.133 75.2421 55.133C73.7743 55.133 72.9078 56.1587 72.9078 57.8918C72.9078 59.6072 73.7743 60.6506 75.2421 60.6506C76.5684 60.6506 77.488 59.6779 77.488 58.0156V57.8034Z" fill="black"/>
            </svg>
          </div>
          <div class="lucky_draw--right">
            <h3 class="title h3">Spin to Win a FREE Device</h3>
            <div class="lucky-txt">Grab limited extra discounts from June 8 to June 28</div>
            <div class="luck_image--box">
              <div class="luck_image--list">
                <img src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Group_4285.png?v=1686196333" alt="">
                <div class="luck_image--free">FREE</div>
                <div class="luck_image--txt">Ulike Air+</div>
              </div>
              <div class="luck_image--list">
                <img src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/02_7db8c278-5cce-4688-bd33-6646a1f95e05.png?v=1686207024" alt="">
                <div class="luck_image--free">FREE</div>
                <div class="luck_image--txt">Ulike Air 3</div>
              </div>
              <div class="luck_image--list free">
                <img src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Group_457393081.png?v=1686815665" alt="">
                <div class="luck_image--txt">Limited Discount</div>
              </div>
              <div class="luck_image--list free">
                <img src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Group_457393083.png?v=1686815665" alt="" style="margin-bottom:0">
                <div class="luck_image--txt">Limited Discount</div>
              </div>
            </div>
            <div class="spin-btn">SPIN</div>
            <div class="lucky-txt">
              *By submitting your email, you agree with Terms of Service and Privacy Policy.
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Active Part",
  "class": "shopify-section--active-part", 
  "settings": [
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Active Part"
    }
  ]
}
{% endschema %}