<style>
.officially-tab-bar{
  background: #FFE0E9;
  padding: 16px 0;
}

.officially-tab-bar .officially-tab-bar-text{
  color: #000;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.18px;
}

.officially-tab-bar .officially-tab-bar-text a{
  display: inline-block;
  color: #E0004D;
}

@media (max-width:991px) {
  .officially-tab-bar{
    padding: 11px 0;
  }
  .officially-tab-bar .officially-tab-bar-text{
    font-size: 12px;
  }
}

</style>

<section class="section-box">
  <div class="officially-tab-bar">
    <div class="officially-tab-bar-text">
      {{ section.settings.text }}
      <a href="{{ section.settings.link }}">{{ section.settings.text1 }}</a>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "officially-tab-bar",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ],
  "presets": [
    {
      "name": "officially-tab-bar"
    }
  ]
}
{% endschema %}