<style>
  {% assign link_to_verification = shop.metafields.display_options.sso_url | append: "?&utm_source=shopify&utm_content=code_snippet" %}
  @media screen and (min-width: 1000px){
   .school-verify-title{
    color: #000;
    text-align: center;
    font-family: var(--heading-font-family);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 44px */
    text-transform: capitalize;  
     padding-top:97px;
     width:1000px;
     margin:auto;
   }
   .school-verify-content{
     color: #000;
    text-align: center;
    font-family: var(--text-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top:20px;
    width:1000px;
    margin:auto;
   }
   .school-verify-btn{
      width:250px;
      padding: 10px 40px;
      align-items: flex-start;
      background: #3C599C;
      color: #FFF;
      font-family: Söhne;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      text-transform: capitalize;
      margin:44px auto 42px;
      text-align:center;
    }
   .school-verify-list{
      width:100%;
      margin-bottom:80px;
    }
   .school_mobileimage{
     display:none
   }

    .sb-cs__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .sb-cs__cart {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .sb-cs__link {
      text-decoration: none;
    }

    .sb-cs__link-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 260px;
      height: 48px;
      color: #fff !important;
      background-color: #3C599C !important;
      font-size: 16px;
      margin-bottom: 14px;
      border-radius: 5px;
      text-decoration: none !important;
    }

    .sb-cs__link-container img {
      border:none !important;
    }

    .sb-cs__vertical-divider {
      width: 24px;
      border: 1px solid #F8F8F8 !important;
      transform: rotate(90deg);
    }

    .sb-cs__link-container a:not(.sb-cs__link) {
      color: #158BCD !important;
      font-weight: 400;
      font-size: 10px;
      font-style: normal;
      line-height: 20px;
      text-align: center;
      margin: 0;
      text-decoration: none !important;
    }
  }
  @media screen and (max-width: 768px){
  .school-verify-title{
     width: 306px;
     opacity: 1;
     color: #000000;
     font-size: 28px;
     font-weight: Kräftig;
     font-family: var(--heading-font-family);
     text-align: center;
     line-height: 30.8px;
     padding-top:60px;
   }
   .school-verify-content{
     opacity: 1;
     color: #000000;
     font-size: 14px;
     font-weight: Buch;
     font-family: var(--text-font-family);
     text-align: center;
     line-height: 21px;
     padding-top:20px;
   }
    .school-verify-btn{
      align-items: flex-start;
      color: #FFF;
      font-family: var(--text-font-family);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 37px; 
      text-transform: capitalize;
      margin:28px auto 34px;
      text-align:center;
      width: 336px;
      height: 37px;
      opacity: 1;
      background: #3c599c;
    }
    .school_image{
      display:none;
    }
    .school-verify-list{
      width:100%;
      margin-bottom:30px;
    }
    .sb-cs__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .sb-cs__cart {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .sb-cs__link {
      text-decoration: none;
    }

    .sb-cs__link-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 260px;
      height: 48px;
      color: #fff !important;
      background-color: #3C599C !important;
      font-size: 16px;
      margin-bottom: 14px;
      border-radius: 5px;
      text-decoration: none !important;
    }

    .sb-cs__link-container img {
      border:none !important;
    }

    .sb-cs__vertical-divider {
      width: 24px;
      border: 1px solid #F8F8F8 !important;
      transform: rotate(90deg);
    }

    .sb-cs__link-container a:not(.sb-cs__link) {
      color: #158BCD !important;
      font-weight: 400;
      font-size: 10px;
      font-style: normal;
      line-height: 20px;
      text-align: center;
      margin: 0;
      text-decoration: none !important;
    }
  }
</style>
<section class="shopify-section">
  <div class="container ">
    <div class="school-verify-title">Grab Your Unique Discount Right Now</div>
    <div class="school-verify-content"> {{ section.settings.textcontent }}</div>
    
    <div class="sb-cs__wrapper">
    <div class="sb-cs__cart">
      <a href={{link_to_verification}} class="sb-cs__link" target="_blank">
        <div class="sb-cs__link-container">
          <img src="https://sh.studentbeans.com/assets/Union.svg" alt="Student Beans logo", width="32", height="18">
          <span class="sb-cs__vertical-divider"></span>
          <span>Get Student Discount</span>
        </div>
      </a>
    </div>
  </div>
    <!-- <div class="school-verify-btn">Verify with StudentBeans</div> -->
    <div class="school-verify-list">
     {%- for block in section.blocks -%}
          {{-
              block.settings.image
              | image_url: width: block.settings.image.width
              | image_tag:
                loading: 'lazy',
                sizes: '(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px',
                sizes: '600,700,800,1000,1200,1400,1600,1800,2000',
                class: 'school_image'
            -}}
           {{-
              block.settings.mobileimage
              | image_url: width: block.settings.mobileimage.width
              | image_tag:
                loading: 'lazy',
                sizes: '(max-width: 740px) 81vw, (max-width: 999px) 37vw, 425px',
                sizes: '600,700,800,1000,1200,1400,1600,1800,2000',
                class: 'school_mobileimage'
            -}}
      {%- endfor -%}  
    </div>
  </div>
</section>


{% schema %}
{
  "name": "school-verify-text",
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobileimage",
          "label": "mobileimage"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "school title"
    },
    {
      "type": "text",
      "id": "titletwo",
      "label": "Shave titleTwo"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "textcontent",
      "label": "Content text"
    },
    {
      "type": "text",
      "id": "footurl",
      "label": "footurl"
    }
  ],
  "presets": [
    {
      "name": "school-verify-text"
    }
  ]
}
{% endschema %}

