<style>
 .policy-table{
  padding: 120px 0;
  background: #f9f9f9;
}

.policy-table .container{
  max-width: 1400px;
}

.policy-table table{
  width: 100%;
  text-align: center;
  font-size: 16px; 
  background: #fff;
}

.policy-table td{
  padding: 35px 0;
  border-right: 3px solid #f9f9f9;
  border-bottom: 3px solid #f9f9f9;
}

.policy-table th{
  font-family: var(--heading-font-family);
  font-size: 20px;
  padding: 35px 0;
  background: #ebebeb;
  border-right: 3px solid #f9f9f9;
}

@media (max-width:991px) {
  .policy-table{
    padding: 50px 0;
  }
  .policy-table th{
    font-size: 14px;
    padding: 15px 5px;
  }
  .policy-table td{
    font-size: 14px;
    padding: 15px 5px;
  }
}

@media (max-width:640px) {
  .policy-table th{
    font-size: 12px;
    zoom: .9;
  }
  .policy-table td{
    font-size: 12px;
    zoom: .9;
  }
}
</style>

<section>
  <div class="policy-table to-top">
    <div class="container">
      {{ section.settings.text }}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "policy-table",
  "settings": [
    {
      "type": "html",
      "id": "text",
      "label": "Html"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "policy-table"
    }
  ]
}
{% endschema %}