<style>
.text-module{
  padding:80px 0;
  background: #f9f9f9;
}

.text-module .text-module-cont{
  max-width: 975px;
  margin: 0 auto;
  text-align: center;
}
.text-module .text-module-title{
  font-size: 40px;
  color: #000;
  font-family: var(--heading-font-family);
  line-height: 1;
}

.text-module .text-module-p{
  font-size: 14px;
  color: #595959;
  line-height: 1.5;
  margin-top: 60px;
}

@media (max-width:991px) {
  .text-module{
    padding: 50px 0;
  }
  .text-module .text-module-title{
    font-size: 28px;
  }
  .text-module .text-module-p{
    margin-top: 30px;
  }
}
</style>

<section>
  <div class="text-module to-top">
    <div class="container">
      <div class="text-module-cont">
        <div class="text-module-title to-top" style="transition-delay: 0.1s">{{ section.settings.text }}</div>
        <div class="text-module-p to-top" style="transition-delay: 0.2s">
          {{ section.settings.text1 }}
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "text-module",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text1",
      "label": "Text"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "text-module"
    }
  ]
}
{% endschema %}