<style>
  .about-text {
    width: 100%;
    text-align: center;
    padding: 100px 0;
    font-size: 48px;
    font-weight: 380;
    color: #190a0a;
  }

  .about-text span {
    color: #e0004d;
  }

  @media (max-width: 1200px) {
    .about-text {
      font-size: 38px;
    }
  }

  @media (max-width: 768px) {
    .about-text {
      font-size: 24px;
      text-align: center;
      padding: 0px 15px 30px;
    }
  }
</style>
<section>
  <div class="about-text to-top">{{ section.settings.title }}</div>
</section>

{% schema %}
{
  "name": "u-about-text",
  "settings": [
    {
      "type": "html",
      "id": "title",
      "label": "标题",
      "default": "<span>Over 20</span> national | <span>Over 30</span> product safety certifications"
    }
  ],

  "presets": [
    {
      "name": "u-about-text",
      "blocks": []
    }
  ]
}
{% endschema %}
