<link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/swiper-bundle.min.css?v=1712905202">
<style>
    {% comment %} banner {% endcomment %}
    .about-wrapper .about-banner {
      position: relative;
      color: #fff;
    }

    .about-banner-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .about-banner-title {
      margin-bottom: 14px;
      font-size: 60px;
      font-weight: 400;
      line-height: 1.15;
      animation: fadeInUp 0.8s ease-out forwards;
      opacity: 0;
      animation-delay: 0.2s;
    }

    .about-banner-desc {
      width: 360px;
      font-size: 22px;
      line-height: 1.5;
      animation: fadeInUp 0.8s ease-out forwards;
      opacity: 0;
      animation-delay: 0.4s;
    }

    @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    {% comment %} Ulike Global {% endcomment %}
    .about-info {
      display: flex;
      align-items: center;
      margin: 125px 0;
    }

    .about-info img {
      margin-right: 258px;
      width: 493px;
    }

    .about-article {
      margin-bottom: 50px;
      color: #3f3636;
    }

    .about-article-title {
      margin-bottom: 20px;
      color: #3f3636;
      font-size: 48px;
      font-weight: 380;
      line-height: 1;
    }

    .about-article-desc {
      font-size: 18px;
      line-height: 1.5;
      color: #3F3636;
    }

    .about-article-desc span {
      color: #E0004D;
    }

    .about-article-sub .about-article-title {
      font-size: 24px;
      font-weight: 500;
      color: #3f3636;
    }

    .about-article-sub .about-article-desc {
      font-size: 20px;
      color: #3f3636;
    }

    {% comment %} Our Brands {% endcomment %}
    .about-brands{
      display: flex;
      padding: 100px 0;
    }

    .about-brands-left{
      color: #3F3636;
      font-size: 48px;
      width: 514px;
      line-height: 1;
    }

    .about-brands-right {
      flex: 1;
    }

    .about-brands-desc {
      font-size: 18px;
      line-height: 1.5;
      color: #3F3636;
      margin-bottom: 40px;
    }

    .about-brands-desc:last-child {
      margin-bottom: 0px;
    }

    {% comment %} about-brands-swipe {% endcomment %}
    .about-brands-swiper{
      position: relative;
      margin-bottom:100px;
      overflow: hidden;
    }

    .swiper-btn-wrapper {
      display: none;
      margin: 20px 0;
    }

    .swiper-btn-prev {
      margin-right: 40px
    }

    .swiper-btn-prev, .swiper-btn-next {
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.3s;
    }

    .swiper-btn-prev.disabled, .swiper-btn-next.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none; /* 防止点击 */
    }

    {% comment %} pc map {% endcomment %}

    .about-map{
      position: relative;
      overflow: hidden;
    }

    .about-map-pc {
      position: relative;
      width: 100%;
    }

    .about-map-mobile {
      display: none;
    }

    .about-map-content{
      position: absolute;
      top: 100px;
      z-index: 2;
    }

     .about-map-title{
      font-size: 48px;
      line-height: 1;
      color: #190A0A;
    }

    .about-map-desc{
      margin-top: 20px;
      font-size: 18px;
      line-height: 1;
      color: #3F3636;
    }

   .about-map-title span {
      color: #E0004D;
    }

    .about-progress-bar {
      width: 100%;
      height: 4px;
      background: #E4DDDD; /* 背景浅色 */
      position: relative;
    }

    .about-progress-bar .about-progress-inner {
      height: 100%;
      width: 0%;
      background: #3F3636; /* 深色进度 */
      transition: width 0.3s ease;
    }



    {% comment %} about-article-wrap {% endcomment %}

    .about-article-swiper {
      margin: 100px 0;
      overflow: hidden;
    }

    .about-article-swiper .swiper-wrapper {
      flex-direction: column;
    }

    .about-about-article-swiper  .swiper-slide{
    }

    .about-article-item {
      display: flex;
      align-items: center;
    }

    .about-article-img {
      flex: 1;
      width: 100%;
    }

    .about-article-info {
      flex: 1;
      margin-left: 115px;
    }

    .about-article-info-sub-title {
      font-size: 28px;
      line-height: 1.3;
      color: #E0004D;
    }

    .about-article-info-title {
      width: 394px;
      font-size: 44px;
      line-height: 1.3;
      margin-bottom: 40px;
      color: #3F3636;
    }

    .about-article-info-desc {
      color: #3F3636;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 40px;

    }

    .about-article-info-btn {
      width: 188px;
      height: 48px;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #E0004D;
      font-size: 18px;
      color: #FFFFFC;
      font-weight: 570;
      cursor: pointer;
      border-radius: 4px;
    }

    .about-article-info-btn:hover {
      opacity: 0.8;
    }

    .about-article-item.reverse {
      flex-direction: row-reverse;
    }

    .about-article-item.reverse .about-article-info {
      margin-left: 0;
      margin-right: 200px;
    }

    .about-article-item.reverse .about-article-info-title {
      width: auto;
    }

    {% comment %} about-big-image {% endcomment %}

    .about-big-image{
      position: relative;
      width: 100%;
    }

    .about-big-image-text {
      position: absolute;
      top: 100px;
      line-height: 1;
      font-size:48px;
      color: #190A0A;
    }

    .about-big-image-text span {
      color: #E0004D;
    }

    {% comment %} about-text {% endcomment %}

    .about-text {
      width: 100%;
      text-align: center;
      padding: 100px 0;
      font-size: 48px;
      font-weight: 380;
      color: #190A0A;
    }

    .about-text span {
      color: #E0004D;
    }

    {% comment %} about-scroll-container {% endcomment %}

    .about-scroll-container {
      width: 100%;
      overflow: hidden;
      position: relative;
    }

    .about-scroll-title {
      line-height: 1;
      font-size: 48px;
      text-align: center;
      margin-bottom: 20px;
      color: #190A0A;
    }


    .about-scroll-content{
      display: flex;
      width: max-content;
    }

    .about-scroll-content.running {
      animation: scrollLeft 20s linear infinite;
    }


    .about-scroll-img{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 244px;
      height: 130px;
      cursor: pointer;
      overflow: hidden;
    }

    .about-scroll-desc {
      margin-top: 30px;
      width: 220px;
      line-height: 1.2;
      font-weight: 380;
      font-size: 18px;
      color: #3F3636;
      text-align: center;
    }



    .about-scroll-content.paused {
      animation-play-state: paused;
    }

    {% comment %} #about-scroll-1 {% endcomment %}

    #about-scroll-1 .about-scroll-item {
      margin-right: 50px;
    }

    #about-scroll-1 .about-scroll-desc{
      visibility: hidden;
    }

    #about-scroll-1 .about-scroll-img:hover{
      border-top: 1px solid #E0004D;
      border-bottom: 1px solid #E0004D;
    }

    #about-scroll-1 .about-scroll-img:hover + .about-scroll-desc{
      visibility: visible;
    }

    .about-scroll-mobile-1 {
      display: none;
    }

    {% comment %} #about-scroll-2 {% endcomment %}
    #about-scroll-2 {
      padding: 100px 0;
    }

    #about-scroll-2 .about-scroll-item {
      margin-right: 20px;
    }

    #about-scroll-2  .about-scroll-img{
      width: 450px;
      height: 354px;
    }

    #about-scroll-2  .about-scroll-desc{
      margin-top: 10px;
      width: 450px;
      line-height: 1.5;
      font-size: 20px;
    }

    {% comment %} #about-scroll-2 {% endcomment %}

    #about-scroll-3 .about-scroll-item {
      margin-right: 80px;
    }

    #about-scroll-3 .about-scroll-img {
      width: 205px;
      height: 80px;

    }

    .about-scroll-mobile-2 {
      display: none;
    }

    @keyframes scrollLeft {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    {% comment %} product {% endcomment %}
    .about-product .about-progress-bar{
      display: none;
    }

    .about-product {
      padding: 100px 0;
      overflow: hidden;
    }

    .about-proudct-container {
      overflow-x: auto;
    }

    .about-proudct-scroll{
      min-width: 1520px;
      padding: 10px 0;
    }

    .about-product-pc-title {
      font-size: 48px;
      color: #190A0A;
      font-weight: 380px;
      line-height: 1;
      margin-bottom: 64px;
    }

    .about-product-timeline {
      position: relative;
      display: flex;
    }

    .about-product-timeline:after {
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      border: 1px dashed  #3F3636;
      content: ' ';
    }

    .about-product-year {
      position: relative;
      padding-top: 10px;
      flex: 1;
      font-size: 28px;
      font-style: italic;
      line-height: 1;
      margin-right: 25px;
    }

    .about-product-year:last-child{
      margin-right: 0;
    }

    .about-product-year.active {
      color: #E0004D;
    }

    .about-product-year:after {
      position: absolute;
      top: -6px;
      left: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid #3F3636;
      background: #fff;
      content: ' ';
      z-index: 1;
    }

    .about-product-year.active:after {
      border-color: #E0004D;
      background: #E0004D;
    }

    .about-product-content {
      margin-top: 15px;
      display: flex;
    }

    .about-product-item {
      flex: 1;
      margin-right: 20px;
    }



    .about-product-item:last-child {
      margin-right: 0px;
    }

    .about-product-item img {
      width: 237px;
    }

    .about-product-title {
      width: 230px;
      margin: 28px 0 13px;
      font-size: 24px;
      line-height: 1;
      color: #000;
    }

    .about-product-title.active{
      color: #E0004D;
    }

    .about-product-desc {
      width: 230px;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 13px;
    }

    .about-product-btn {
      width: 188px;
      height: 48px;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #E0004D;
      font-size: 18px;
      color: #FFFFFC;
      font-weight: 570;
      cursor: pointer;
      border-radius: 4px;
    }

    .about-product-btn:hover{
      opacity: 0.8;
    }

    {% comment %} about-stats {% endcomment %}

    .about-stats{
      display: flex;
      align-items: center;
      padding: 80px 0 50px;
    }

    .about-stats-logo {
      line-height: 1;
    }

    .about-stats-left {
      width: 400px;
      margin-right: 122px;
    }

    .about-stats-right {
      display: flex;
      justify-content: space-between;
      flex: 1;
    }

    .about-stats-item {
      font-size: 70px;
      font-weight: 380;
      line-height: 1;
      color: #190A0A;
      padding: 0 40px;
      border-right: 1px solid #E4DDDD;
    }

    .about-stats-item:last-child{
      border-right: none;
    }

    .about-stats-icon-wrap {
      position: relative;
      line-height: 1;
    }

    .about-stats-icon-wrap:after {
      position: absolute;
      top: 0;
      right: -20px;
      font-size: 36px;
      font-weight: 570px;
      content: '+';
    }

    .about-stats-text{
      margin-left: 10px;
    }

    .about-stats-sub-title{
      margin-top: 12px;
      font-size: 26px;
      line-height: 1;
    }



    .about-stats-title {
      margin: 10px 0;
      line-height: 1;
      font-size: 24px;
      color: #190A0A;
    }

    .about-stats-ranking {
      color: #E7004C;
      font-size: 130px;
      font-weight: 300;
      line-height: 1;
    }

    .about-stats-desc {
      padding-left: 10px;
      margin-top: 10px;
      font-size: 14px;
      font-weight: 300;
      color: #3F3636;
      line-height: 1.2;
      opacity: 0.5;
    }

    .about-stats-desc-m{
      display: none;
    }

    {% comment %} about-card-list {% endcomment %}

    .safeguards-new .safeguards-new-h3{
      background: none !important;
    }


    .about-card-list {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      padding: 60px 0;
    }

    .about-card-item {
      width: 287px;
      height: 180px;
      padding: 12px 10px;
      border: 1px solid #EBEBEB;
    }

    .about-card-title {
      font-size: 21px;
      font-weight: 500;
      line-height: 32px;
      margin: 8px 0 16px;
    }

    .about-card-desc {
      color: #756B6E;
      font-size: 18px;
      font-weight: 380;
      line-height: 27px;
    }

    .about-card-icon {
      width: 50px;
      height: 50px;
    }


    @media (max-width: 1620px) {
      .about-article-swiper .swiper-wrapper{
        flex-direction: row;
        justify-content: space-between;
      }

      .about-article-swiper .swiper-slide {
        width: 49%;
      }


      .about-article-item {
        flex-direction: column !important;
        align-items: flex-start;
      }

      .about-article-info {
        margin-left: 0;
      }

      .about-article-item.reverse .about-article-info {
        margin-right: 0;
      }

      .about-article-title-wrap{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 120px;
        margin-bottom: 30px;
      }

      .about-article-info-title{
        width: 100%;
        margin-bottom: 0;
      }

      .about-article-info-desc {
        margin-bottom: 0;
        height: 110px;
      }

       {% comment %} about-stats {% endcomment %}
       .about-stats-left {
        margin-right: 60px;
      }

      .about-stats-ranking{
        font-size: 117px;
      }

      .about-stats-item {
        font-size: 63px;
      }

      .about-stats-sub-title{
        font-size: 23px;
      }
    }


    @media (max-width: 1450px) {
     {% comment %} about-stats {% endcomment %}
      .about-stats-left {
        margin-right: 60px;
      }

      .about-stats-ranking{
        font-size: 117px;
      }

      .about-stats-item {
        font-size: 63px;
        padding:0 10px;
      }

      .about-stats-sub-title{
        font-size: 23px;
      }
    }


    @media (max-width: 1200px) {
    {% comment %} banner {% endcomment %}
    .about-banner-title {
      font-size: 48px;
      margin-bottom: 10px;
    }

    .about-banner-desc {
      width: 300px;
      font-size: 18px;
    }

    {% comment %} Ulike Global {% endcomment %}
    .about-info {
      margin: 100px 0;
    }

    .about-info img {
      margin-right: 206px;
      width: 394px;
    }

    .about-article {
      margin-bottom: 40px;
    }

    .about-article-title {
      margin-bottom: 16px;
      font-size: 38px;
      font-weight: 400;
      line-height: 1;
    }

    .about-article-desc {
      font-size: 16px;
      line-height: 1.5;
    }

    .about-article-sub .about-article-title {
      font-size: 19px;
      font-weight: 500;
    }

    .about-article-sub .about-article-desc {
      font-size: 18px;
    }

    {% comment %} Our Brands {% endcomment %}
    .about-brands{
      display: flex;
      padding: 80px 0;
    }

    .about-brands-left{
      font-size: 38px;
      width: 411px;
    }


    .about-brands-desc {
      font-size: 16px;
      margin-bottom: 32px;
    }


    {% comment %} pc map {% endcomment %}
    .about-map-content{
      position: absolute;
      top: 80px;
    }

     .about-map-title{
      font-size: 38px;
    }

    .about-map-desc{
      margin-top: 16px;
      font-size: 14px;
    }


    {% comment %} about-article-title {% endcomment %}

    .about-article-title-wrap{
      height: 100px;
    }

    .about-article-info-title {
      font-size: 35px;

    }

    .about-article-info-sub-title {
      font-size: 22px;

    }
    {% comment %} about-big-image {% endcomment %}
    .about-big-image-text {
      font-size: 38px;
    }

    {% comment %} about-text {% endcomment %}
    .about-text {
      font-size: 38px;
    }
    {% comment %} about-produc {% endcomment %}
    .about-product-pc-title {
      font-size: 38px;
      margin-bottom: 50px;
    }

     {% comment %} about-stats {% endcomment %}
      .about-stats-left {
        width: 320px;
        margin-right: 60px;
      }

      .about-stats-ranking{
        font-size: 104px;
      }

      .about-stats-item {
        font-size: 56px;
      }

      .about-stats-sub-title{
        font-size: 20px;
      }

  }


    @media (max-width: 1024px) {
      .about-info img {
        width: 300px;
        margin-right: 50px;
      }

      .about-brands-left {
        width: 340px;
      }

       {% comment %} pc map {% endcomment %}
      .about-map-content{
        position: absolute;
        top: 40px;
      }

      .about-map-title{
        font-size: 32px;
      }

      .about-map-desc{
        margin-top: 10px;
        font-size: 14px;
      }

      {% comment %} about-article-title {% endcomment %}
      .about-article-title-wrap{
        height: 90px;
        margin-bottom: 20px;
      }

      .about-article-info-title {
        font-size: 32px;
      }
      .about-article-info-desc{
        height: 130px;
        font-size: 14px;
        height: 120px;
      }

      {% comment %} about-text {% endcomment %}
      .about-text {
        font-size: 32px;
      }

       {% comment %} about-stats {% endcomment %}
       .about-stats {
        flex-direction: column;
      }

      .about-stats-left{
        width: 100%;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .about-stats-right{
        width: 100%;
        margin: 50px 0 45px;
      }



      .about-stats-desc {
        display: none;
        margin-bottom: 15px;
        padding: 10px 0px 15px;
      }

      .about-stats-desc-m{
        display: block;
        text-align: center;
        font-size: 14px;
        color: #3F3636;
        line-height: 1.5;
        opacity: 0.5;
      }
    }


    @media (max-width: 768px) {
      {% comment %} banner {% endcomment %}
      .about-banner-content {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
      }

      .about-banner-title {
        margin-bottom: 5px;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
      }

      .about-banner-desc {
        width: 262px;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
      }

       {% comment %} Ulike Global {% endcomment %}
      .about-info {
        flex-direction: column-reverse;
        margin: 60px 0;
      }

      .about-info img {
        margin-right: 0px;
        width: 100%;
      }

      .about-article {
        margin-bottom: 39px;
      }

      .about-article-title {
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
      }

      .about-article-desc {
        font-size: 12px;
        line-height: 1.5;
      }

      .about-article-sub .about-article-title {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 400;
      }

      .about-article-sub .about-article-desc {
        font-size: 12px;
        margin-bottom: 39px;
      }

      {% comment %} Our Brands {% endcomment %}
      .about-brands{
        display: flex;
        flex-direction: column;
        padding: 40px 0;
      }

      .about-brands-left{
        font-size: 24px;
        width: 100%;
        margin-bottom: 15px;
      }


      .about-brands-desc {
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 20px;
      }

      {% comment %} swiper {% endcomment %}

      .swiper-btn-wrapper {
        display: flex;
      }

      .about-brands-swiper {
        margin-bottom: 60px
      }

    {% comment %} pc map {% endcomment %}
    .about-map-pc{
      display: none;
    }

    .about-map-mobile {
      display: block;
    }

    .about-map-content{
      position: absolute;
      top: 60px;
    }

     .about-map-title{
      width: 240px;
      font-size: 24px;
    }

    .about-map-desc{
      width: 240px;
      margin-top: 20px;
      font-size: 12px;
      line-height: 1.5;
    }

    {% comment %} about-article-title {% endcomment %}

    .about-article-title-wrap {
      height: 80px;
      justify-content: center;
    }

    .about-article-info-sub-title {
      font-size: 16px;
    }

    .about-article-info-title {
      font-size: 24px;
      font-weight: 400;
    }

    .about-article-info-desc{
       font-size: 16px;
       line-height: 24px;
       margin-bottom: 10px;
       color: #756B6E;
    }

    .about-article-info-btn {
      width: 150px;
      height: 42px;
      font-size: 12px;
      font-weight: 570;
    }

    .about-article-swiper {
      margin: 60px 0;
    }

    {% comment %} about-big-image {% endcomment %}

    .about-big-image {
      padding: 60px 0;
    }
    .about-big-image-text {
      width: 100%;
      font-size: 24px;
      top: 0px;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
    }

    {% comment %} about-text {% endcomment %}
     .about-text {
       font-size: 24px;
       text-align: center;
       padding: 0px 15px 30px;
     }

     {% comment %} about-scroll-1 {% endcomment %}
     #about-scroll-1.about-scroll-container {
      overflow-x: auto;
      padding-left: 20px;
    }
     #about-scroll-1 .about-scroll-content {
      width: 960px;
      flex-wrap: wrap;
      gap: 10px 25px;
    }

     #about-scroll-1 .about-scroll-item{
      width: 122px;
    }
     #about-scroll-1 .about-scroll-desc {
      margin-top: 0px;
      width: 122px;
      font-size: 12px;
      visibility: visible;
    }

    #about-scroll-1 .about-scroll-img {
      margin-right: 0;
      width: 100%;
      height: 65px;
    }

    #about-scroll-1 .about-scroll-img:hover{
      border: none;
    }

    .about-scroll-mobile-1 {
      display: block;
      margin-top: 30px;
    }

    {% comment %} about-scroll-2 {% endcomment %}
    #about-scroll-2 {
      padding: 60px 0;
    }

    .about-scroll-2 {
      padding: 60px 0 30px;
    }

    #about-scroll-2  .about-scroll-title {
      font-size: 24px;
      margin-bottom: 40px;
    }

    #about-scroll-2 .about-scroll-container {
      overflow-x: auto;
      padding-left: 20px;
    }

    #about-scroll-2 .about-scroll-item {
      width: 321px;
      margin-right: 15px;
    }

    #about-scroll-2 .about-scroll-img {
      width: 100%;
      height: 252px;
    }

    #about-scroll-2 .about-scroll-desc {
      margin-top: 15px;
      width: 321px;
      font-size: 14px;
    }

    .about-scroll-mobile-2 {
      display: block;
      margin-bottom: 30px;
    }

     {% comment %} about-produc {% endcomment %}
     .about-product{
      padding: 60px 0;
    }

     .about-product-year{
      font-size: 22px;
     }
     .about-product-pc-title {
       font-size: 30px;
       font-weight: 400;
       margin-bottom: 40px;
     }

    .about-proudct-scroll{
      min-width: 1000px;
    }

    .about-product-item img{
      width: 140px;
    }

    .about-product-title {
      margin: 17px 0 8px;
      width: 140px;
      font-size: 16px;
    }

    .about-product-desc {
      width: 140px;
      font-size: 12px;
      margin-bottom: 8px;
    }

    .about-product-btn{
      width: 120px;
      height: 30px;
      font-size: 12px;

    }

    .about-product .about-progress-bar {
      display: block;
      margin-top: 30px;
    }

     {% comment %} about-stats {% endcomment %}
     .about-stats{
      padding: 0;
    }
    .about-stats-title {
      font-size: 24px;
      margin: 18px 0;
    }

    .about-stats-ranking{
      font-size: 102px;
    }

    .about-stats-right{
      margin: 50px 0 45px;
    }

    .about-stats-item {
      font-size: 24px;
      text-align: center;
      flex: 1;
      border-right: 1px solid #E4DDDD;
      padding: 0;
    }

    .about-stats-sub-title{
      margin-top: 8px;
      font-size: 12px;
    }

    .about-stats-logo svg{
      width: 83px;
      height: 18px;
    }

    .about-stats-icon-wrap:after{
      font-size: 12px;
      right: -10px;
    }

    .about-stats-item:last-child{
      border-right: none;
    }

    .about-stats-item:last-child .about-stats-text{
      margin-left: 0;
    }

    {% comment %} about-card-list {% endcomment %}
    .about-card-list{
      gap: 0px;
      justify-content: space-between;
      padding: 50px 0;
    }

    .about-card-item{
      width: 48%;
      height: auto;
      margin-bottom: 15px;
    }

    .about-card-item:last-child{
      width: 100%;
    }

    .about-card-icon{
      width: 32px;
      height: 32px;
    }

    .about-card-title{
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 570;
      line-height: 18px;
    }

    .about-card-desc{
      font-size: 12px;
      line-height: 15px;
    }






  }

  @media (min-width: 1500px) {
    .IPL-no1 .IPL-no1-right{
      gap: 50px !important;
    }
    .IPL-no1 .IPL-no1-item{
      padding-right: 50px !important;
    }
    .IPL-no1 .IPL-no1-num{
      font-size: 70px !important;
    }

    .IPL-no1 .IPL-no1-p {
      font-size: 26px !important;
    }

    .des_ipl-rt{
      width: 400px !important;
      line-height: 1.2 !important;
    }


  }

  .box-subscribe-section .subscription-content h2{
    font-family: Saans !important;
  }

  .des_ipl-rt{
    line-height: 1.2 !important;
  }

  .input-email-tip p{
    margin-bottom: 0 !important;
  }
</style>

<section class="about-wrapper">
  {% comment %}
    <div class="about-banner">
      <picture>
        <source
          srcset="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/CM_Banner_PC_2.png?v=1752818764"
          media="(max-width: 768px)"
        >
        <img
          class="img"
          width="100%"
          height="auto"
          src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/CM_Banner_PC_2.jpg?v=1752565884"
        >
      </picture>
      <div class="container">
        <div class="about-banner-content">
          <div class="about-banner-title">About us</div>
          <div class="about-banner-desc">Next-Generation Skincare, Professional-Grade Beauty at Home.</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="about-info">
        <img
          src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/output.lin_1.png?v=1752568511"
          alt="ulike"
          width="auto"
          height="auto"
        >
        <div>
          <div class="about-article">
            <div class="about-article-title">Ulike Global</div>
            <div class="about-article-desc">
              Founded in 2013, Ulike Global is a leader in optical skincare technology and among the first to establish an
              overseas optical R&D center. With a team of over 100 experts, including Chief Scientist Michael R.
              Hamblin—Harvard and MIT professor and the "Father of Modern Light Therapy"—we hold over
              <span>800</span> global patents and sell products in 49 countries and regions.
            </div>
          </div>

          <div class="about-article-sub">
            <div class="about-article-title">Mission</div>
            <div class="about-article-desc">
              Ulike Global remains committed to delivering innovative, high-quality beauty solutions powered by
              cutting-edge technology.
            </div>
          </div>
        </div>
      </div>

      <div class="about-brands">
        <div class="about-brands-left">Our Brands</div>
        <div class="about-brands-right">
          <div class="about-brands-desc">
            Since our founding, we have been at the forefront of innovation in hair removal, combining cutting-edge
            technology with a commitment to empowerment.
          </div>
          <div class="about-brands-desc">
            Today, Ulike Global has evolved from a single leading brand into a dynamic, multi-brand powerhouse. Moving
            forward, we remain committed to delivering superior products driven by our core technologies.
          </div>
        </div>
      </div>

      <div class="about-brands-swiper">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Frame_457394709.png?v=1752575213" alt="">
            </div>
            <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Frame_457394710_1.png?v=1752577229" alt="">
            </div>
            <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Frame_457394711.png?v=1752577387" alt="">
            </div>
          </div>
        </div>
        <!-- 导航箭头 -->
        <div class="swiper-btn-wrapper">
          <div class="swiper-btn-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.9908 6.5148L17.4505 6.05505L18.37 6.97454L17.9103 7.43428L13.7129 11.6316L9.75648 15.5881C9.24867 16.0959 8.42533 16.0959 7.91752 15.5881L12.7935 10.7121L16.9908 6.5148ZM5.61275 18.8123C5.35884 18.5584 5.35884 18.1467 5.61275 17.8928C5.69825 17.8073 5.80163 17.7506 5.91086 17.7227V17.7024H6.07107H6.07392H6.56103L25.4161 17.7024H29.9672C30.6854 17.7024 31.2676 18.2846 31.2676 19.0027H25.4161L7.64216 19.0027L17.9103 29.2709L18.37 29.7306L17.4505 30.6501L16.9908 30.1904L5.61275 18.8123Z" fill="#190A0A"/>
            </svg>
          </div>
          <div class="swiper-btn-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.1049 6.5148L19.6452 6.05505L18.7257 6.97454L19.1854 7.43428L23.3828 11.6316L27.3392 15.5881C27.847 16.0959 28.6704 16.0959 29.1782 15.5881L24.3022 10.7121L20.1049 6.5148ZM31.4829 18.8123C31.7369 18.5584 31.7369 18.1467 31.4829 17.8928C31.3975 17.8073 31.2941 17.7506 31.1848 17.7227V17.7024H31.0246H31.0218H30.5347L11.6796 17.7024H7.12847C6.41031 17.7024 5.82813 18.2846 5.82813 19.0027H11.6796L29.4535 19.0027L19.1854 29.2709L18.7257 29.7306L19.6452 30.6501L20.1049 30.1904L31.4829 18.8123Z" fill="#190A0A"/>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div id="about-map" class="about-map">
      <div class="container">
        <div class="about-map-content">
          <div class="about-map-title">Sold in over <span>7+Million</span> | Stores in <span>49</span> countries</div>
          <div class="about-map-desc">In-depth cooperation with SKP, CDF, Lotte Duty Free, and other luxury groups.</div>
        </div>
      </div>
      <div class="about-map-pc">
        <img
          src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Frame_457394773.jpg?v=1752738211"
          width="100%"
          height="auto"
        >
      </div>
      <div class="about-map-mobile">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Group_457394754.png?v=1752832470"
                width="100%"
                height="auto"
                alt=""
              >
            </div>
            <div class="swiper-slide">
              <img
                src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/20250721-0946342.jpg?v=1753062431"
                width="100%"
                height="auto"
                alt=""
              >
            </div>
            <div class="swiper-slide">
              <img
                src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/20250721-094216.jpg?v=1753062171"
                width="100%"
                height="auto"
                alt=""
              >
            </div>
          </div>
        </div>
        <div class="container">
          <div class="about-progress-bar">
            <div class="about-progress-inner"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="about-article" class="container">
      <div class="about-article-swiper">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="about-article-item">
                <img
                  class="about-article-img"
                  src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Group_457394750.png?v=1752646695"
                  width="auto"
                  height="auto"
                  alt=""
                >
                <div class="about-article-info">
                  <div class="about-article-title-wrap">
                    <div class="about-article-info-sub-title">Ulike Chief Scientist</div>
                    <div class="about-article-info-title">Michael R.Hamblin</div>
                  </div>
                  <div class="about-article-info-desc">
                    The Father of Modern Light Therapy <br>
                    Doctoral Supervisor, Harvard-MT Health Sciences and Technology Associate Professor
                  </div>
                  <a class="about-article-info-btn">LEARN MORE</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about-article-item reverse">
                <img
                  class="about-article-img"
                  src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Group_457394749.png?v=1752650408"
                  width="auto"
                  height="auto"
                  alt=""
                >
                <div class="about-article-info">
                  <div class="about-article-title-wrap">
                    <div class="about-article-info-title">In-house scientist team</div>
                  </div>
                  <div class="about-article-info-desc">
                    A research and development team comprising over 100 experts has been established. This team
                    independently possesses core technologies in the filed of optical skin beauty.
                  </div>
                  <div class="about-article-info-btn">LEARN MORE</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 导航箭头 -->
        <div class="swiper-btn-wrapper">
          <div class="swiper-btn-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.9908 6.5148L17.4505 6.05505L18.37 6.97454L17.9103 7.43428L13.7129 11.6316L9.75648 15.5881C9.24867 16.0959 8.42533 16.0959 7.91752 15.5881L12.7935 10.7121L16.9908 6.5148ZM5.61275 18.8123C5.35884 18.5584 5.35884 18.1467 5.61275 17.8928C5.69825 17.8073 5.80163 17.7506 5.91086 17.7227V17.7024H6.07107H6.07392H6.56103L25.4161 17.7024H29.9672C30.6854 17.7024 31.2676 18.2846 31.2676 19.0027H25.4161L7.64216 19.0027L17.9103 29.2709L18.37 29.7306L17.4505 30.6501L16.9908 30.1904L5.61275 18.8123Z" fill="#190A0A"/>
            </svg>
          </div>
          <div class="swiper-btn-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.1049 6.5148L19.6452 6.05505L18.7257 6.97454L19.1854 7.43428L23.3828 11.6316L27.3392 15.5881C27.847 16.0959 28.6704 16.0959 29.1782 15.5881L24.3022 10.7121L20.1049 6.5148ZM31.4829 18.8123C31.7369 18.5584 31.7369 18.1467 31.4829 17.8928C31.3975 17.8073 31.2941 17.7506 31.1848 17.7227V17.7024H31.0246H31.0218H30.5347L11.6796 17.7024H7.12847C6.41031 17.7024 5.82813 18.2846 5.82813 19.0027H11.6796L29.4535 19.0027L19.1854 29.2709L18.7257 29.7306L19.6452 30.6501L20.1049 30.1904L31.4829 18.8123Z" fill="#190A0A"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  {% endcomment %}

  {% comment %}
    <div class="about-big-image">
      <picture>
        <source
          srcset="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/2_b98a6a1b-f74c-426b-8b67-a6337a052f35.png?v=1753076485"
          media="(max-width: 768px)"
        >
        <img
          class="img"
          width="100%"
          height="auto"
          src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/image_1460.png?v=1752656581"
        >
      </picture>
      <div class="container">
        <div class="about-big-image-text"><span>800+</span> Global Patents</div>
      </div>
    </div>
    <div class="about-text"><span>Over 20</span> national | <span>Over 30</span> product safety certifications</div>

    <div id="about-scroll-1" class="about-scroll-container">
      <div class="about-scroll-content">
        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/about-scroll-1.svg?v=1753082122"
              width="100%"
              height="auto"
            >
          </div>
          <div class="about-scroll-desc">UKCA Prodcut Safety Certification in the UK</div>
        </div>

        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/about-scroll-2.svg?v=1753082122"
              width="100%"
              height="auto"
            >
          </div>
          <div class="about-scroll-desc">FDA U.S. Food and Drug Administration Safery Certification</div>
        </div>

        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/about-scroll-3.svg?v=1753082122"
              width="100%"
              height="auto"
            >
          </div>
          <div class="about-scroll-desc">NMPA China Food and Drug Administration Safery Certification</div>
        </div>

        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/about-scroll-4.svg?v=1753082122"
              width="100%"
              height="auto"
            >
          </div>
          <div class="about-scroll-desc">CE EU Product Safety Certification</div>
        </div>

        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/about-scroll-5.svg?v=1753082122"
              width="100%"
              height="auto"
            >
          </div>
          <div class="about-scroll-desc">EMC Electromagnetic Compatibility Safety Certification</div>
        </div>

        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/about-scroll-6.svg?v=1753082122"
              width="100%"
              height="auto"
            >
          </div>
          <div class="about-scroll-desc">KFDA Korea Food and Drug Administration Licensing and Certification</div>
        </div>

        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/about-scroll-7.svg?v=1753082122"
              width="100%"
              height="auto"
            >
          </div>
          <div class="about-scroll-desc">CE EU Product Safety Certification</div>
        </div>

        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/about-scroll-8.svg?v=1753082122"
              width="100%"
              height="auto"
            >
          </div>
          <div class="about-scroll-desc">EMC Electromagnetic Compatibility Safety Certification</div>
        </div>
        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/about-scroll-9.svg?v=1753082122"
              width="100%"
              height="auto"
            >
          </div>
          <div class="about-scroll-desc">EMC Electromagnetic Compatibility Safety Certification</div>
        </div>
        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/about-scroll-10.svg?v=1753082122"
              width="100%"
              height="auto"
            >
          </div>
          <div class="about-scroll-desc">EMC Electromagnetic Compatibility Safety Certification</div>
        </div>
        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/about-scroll-11.svg?v=1753082122"
              width="100%"
              height="auto"
            >
          </div>
          <div class="about-scroll-desc">EMC Electromagnetic Compatibility Safety Certification</div>
        </div>
        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/about-scroll-12.svg?v=1753082122"
              width="100%"
              height="auto"
            >
          </div>
          <div class="about-scroll-desc">EMC Electromagnetic Compatibility Safety Certification</div>
        </div>
        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/about-scroll-13.svg?v=1753082122"
              width="100%"
              height="auto"
            >
          </div>
          <div class="about-scroll-desc">EMC Electromagnetic Compatibility Safety Certification</div>
        </div>
        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/about-scroll-14.svg?v=1753082122"
              width="100%"
              height="auto"
            >
          </div>
          <div class="about-scroll-desc">EMC Electromagnetic Compatibility Safety Certification</div>
        </div>
        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/about-scroll-15.svg?v=1753082122"
              width="100%"
              height="auto"
            >
          </div>
          <div class="about-scroll-desc">EMC Electromagnetic Compatibility Safety Certification</div>
        </div>
      </div>
    </div>

    <div class="container about-scroll-mobile-1">
      <div class="about-progress-bar">
        <div class="about-progress-inner"></div>
      </div>
    </div>

    <div id="about-scroll-2">
      <div class="about-scroll-title">Media exposure</div>
      <div class="about-scroll-container">
        <div class="about-scroll-content">
          <div class="about-scroll-item">
            <div class="about-scroll-img">
              <img
                src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/French_Design_Awards_2023.jpg?v=1752734151"
                width="100%"
                height="auto"
              >
            </div>
            <div class="about-scroll-desc">French Design Awards 2023</div>
          </div>

          <div class="about-scroll-item">
            <div class="about-scroll-img">
              <img
                src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/MUSE_Design_Gold_Awards_2022.jpg?v=1752734132"
                width="100%"
                height="auto"
              >
            </div>
            <div class="about-scroll-desc">French Design Awards 2023</div>
          </div>

          <div class="about-scroll-item">
            <div class="about-scroll-img">
              <img
                src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Ranking_No.1.jpg?v=1752734131"
                width="100%"
                height="auto"
              >
            </div>
            <div class="about-scroll-desc">French Design Awards 2023</div>
          </div>

          <div class="about-scroll-item">
            <div class="about-scroll-img">
              <img
                src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/fashion_groups.jpg?v=1752734101"
                width="100%"
                height="auto"
              >
            </div>
            <div class="about-scroll-desc">French Design Awards 2023</div>
          </div>

          <div class="about-scroll-item">
            <div class="about-scroll-img">
              <img
                src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/GOLDEN_PIN_Design_Award_2022.jpg?v=1752731996"
                width="100%"
                height="auto"
              >
            </div>
            <div class="about-scroll-desc">French Design Awards 2023</div>
          </div>
        </div>
      </div>
    </div>

    <div class="container about-scroll-mobile-2">
      <div class="about-progress-bar">
        <div class="about-progress-inner"></div>
      </div>
    </div>
  {% endcomment %}

  {% comment %}
    <div id="about-scroll-3" class="about-scroll-container">
      <div class="about-scroll-content">
        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/LOGO01.png?v=1752735696"
              width="100%"
              height="auto"
            >
          </div>
        </div>
        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/LOGO02.png?v=1752735697"
              width="100%"
              height="auto"
            >
          </div>
        </div>
        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/LOGO03.png?v=1752735697"
              width="100%"
              height="auto"
            >
          </div>
        </div>
        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/LOGO04.png?v=1752735696"
              width="100%"
              height="auto"
            >
          </div>
        </div>
        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/LOGO05.png?v=1752735696"
              width="100%"
              height="auto"
            >
          </div>
        </div>
        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/LOGO06.png?v=1752735696"
              width="100%"
              height="auto"
            >
          </div>
        </div>
        <div class="about-scroll-item">
          <div class="about-scroll-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/LOGO07.png?v=1752735697"
              width="100%"
              height="auto"
            >
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="product">
      <div class="about-product">
        <div class="about-product-pc-title">Core Products</div>
        <div class="about-proudct-container">
          <div class="about-proudct-scroll">
            <div class="about-product-timeline">
              <div class="about-product-year active">2022</div>
              <div class="about-product-year">2019</div>
              <div class="about-product-year">2018</div>
              <div class="about-product-year">2018</div>
              <div class="about-product-year">2017</div>
              <div class="about-product-year">2016</div>
            </div>
            <div class="about-product-content">
              <div class="about-product-item">
                <img
                  src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Frame_457394783.png?v=1752739954"
                  alt="Ulike Air 3"
                  width="100%"
                  height="auto"
                >
                <div class="about-product-title active">Ulike Air 3</div>
                <div class="about-product-desc">The Sapphire Ice-Cooling technology removes hair from the root</div>
                <a class="about-product-btn" href="#">LEARN MORE</a>
              </div>
              <div class="about-product-item">
                <img
                  src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Frame_457394784.png?v=1752743960"
                  alt="Ulike Air 2"
                  width="100%"
                  height="auto"
                >
                <div class="about-product-title">Ulike Air 2</div>
                <div class="about-product-desc">
                  The Sapphire Ice-Cooling Technology causes no pain or harm to the skin
                </div>
              </div>
              <div class="about-product-item">
                <img
                  src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Frame_457394785.png?v=1752743960"
                  alt="GEN 4"
                  width="100%"
                  height="auto"
                >
                <div class="about-product-title">GEN 4</div>
                <div class="about-product-desc">The large size makes it inconvenient to carry</div>
              </div>
              <div class="about-product-item">
                <img
                  src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Frame_457394786.png?v=1752743960"
                  alt="GEN 3"
                  width="100%"
                  height="auto"
                >
                <div class="about-product-title">GEN 3</div>
                <div class="about-product-desc">The metal refrigeration causes a slight buming sensation</div>
              </div>
              <div class="about-product-item">
                <img
                  src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Frame_457394787.png?v=1752743913"
                  alt="GEN 2"
                  width="100%"
                  height="auto"
                >
                <div class="about-product-title">GEN 2</div>
                <div class="about-product-desc">The process of removal followed by ice-cooling is tedious</div>
              </div>
              <div class="about-product-item">
                <img
                  src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Frame_457394788.png?v=1752743960"
                  alt="GEN 1"
                  width="100%"
                  height="auto"
                >
                <div class="about-product-title">GEN 1</div>
                <div class="about-product-desc">The whole-process hot light pain is unbearable</div>
              </div>
            </div>
          </div>
        </div>
        <div class="about-progress-bar">
          <div class="about-progress-inner"></div>
        </div>
      </div>
    </div>
  {% endcomment %}
  <div class="ipl-product-btn btn-diy">
    <div class="btn-txt" text="SHOP NOW">
      <span>SHOP NOW</span>
    </div>
  </div>

  {% comment %}
    <div class="container">
      <div class="about-stats">
        <div class="about-stats-left">
          <div class="about-stats-logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="73" height="17" viewBox="0 0 73 17" fill="none">
              <path d="M35.427 1.17578H31.252V4.71036H35.427V1.17578Z" fill="#190A0A"/>
              <path d="M35.4122 5.83838H31.2817V16.4054H35.4122V5.83838Z" fill="#190A0A"/>
              <path d="M27.7174 0.69043H23.5869V16.405H27.7174V0.69043Z" fill="#190A0A"/>
              <path d="M55.245 1.71513V1.63117H50.4196L43.0667 7.35284V0.69043H39.0269V16.405H43.0667V9.41498L51.1064 16.405H55.5235V16.3113L46.6158 8.35805L55.245 1.71513Z" fill="#190A0A"/>
              <path d="M14.255 2.62589H15.7445V10.6173C15.7088 13.1817 13.6276 14.7371 11.4083 14.7371C9.18904 14.7371 7.10785 13.1817 7.07221 10.6173V0.69043H0L1.35133 2.62589H2.84373V10.4779C2.84373 15.0639 7.29495 16.8952 11.4083 16.8817C15.521 16.8952 19.973 15.0647 19.973 10.4779V0.69043H12.9037L14.255 2.62589Z" fill="#190A0A"/>
              <path d="M69.8625 3.48419C68.3188 1.9835 66.003 1.13871 63.6434 1.18968C60.8739 1.24365 58.5395 2.11243 56.8934 3.70308C55.4196 5.12581 54.7075 7.02229 54.7075 9.0417C54.7075 11.3984 55.6906 13.5775 57.578 14.977C59.403 16.33 61.0447 16.8817 63.7354 16.8817C64.5188 16.8765 65.1677 16.839 65.8337 16.7273C69.0932 16.1786 71.1069 14.3833 71.8783 12.4156L68.3641 12.3991C67.8251 13.4403 66.2235 14.5782 63.6916 14.5782C60.842 14.5782 59.0273 12.3811 58.8684 10.0147H72.1813C72.3186 7.24717 71.4224 5.00138 69.8632 3.48494L69.8625 3.48419ZM58.8989 7.66319L58.9159 7.50203C59.23 5.47887 60.8048 3.36051 63.6263 3.36051C66.4478 3.36051 68.0099 5.73223 68.1815 7.50353L68.1911 7.66319H58.8981H58.8989Z" fill="#190A0A"/>
            </svg>
          </div>
          <div class="about-stats-title">Global IPL Devise sales</div>
          <div class="about-stats-ranking">No.1</div>
          <div class="about-stats-desc">
            *Data source: Euromonitor International (Shanghai) Ltd., measured in terms of global retail sales volume of
            home hair removal devices in 2022, based on research conducted in Dec. 2023. Home hair removal device refers
            to an at-home device removing unwanted hair by utilizing light energy, with typical light sources including
            IPL and laser.
          </div>
        </div>
        <div class="about-stats-right">
          <div class="about-stats-item">
            <div>
              <span class="about-stats-icon-wrap">600</span>
            </div>
            <div class="about-stats-sub-title">granted patents</div>
          </div>
          <div class="about-stats-item">
            <div>
              <span class="about-stats-icon-wrap">10</span>
              <span class="about-stats-text">Years</span>
            </div>
            <div class="about-stats-sub-title">IPL research</div>
          </div>
          <div class="about-stats-item">
            <div>
              <span class="about-stats-text">7</span>
              <span class="about-stats-icon-wrap">Million</span>
            </div>
            <div class="about-stats-sub-title">Products sold</div>
          </div>
        </div>
        <div class="about-stats-desc-m">
          *Data source: Euromonitor International (Shanghai) Ltd., measured in terms of global retail sales volume of home
          hair removal devices in 2022, based on research conducted in Dec. 2023. Home hair removal device refers to an
          at-home device removing unwanted hair by utilizing light energy, with typical light sources including IPL and
          laser.
        </div>
      </div>
    </div>
  {% endcomment %}

  {% comment %}
    <div class="container">
      <div class="about-card-list">
        <div class="about-card-item">
          <img
            class="about-card-icon"
            src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Fast_Free_Shipping_7d094900-69bc-467d-be4c-3675b9812d70.png?v=1752809958"
            alt="shipping"
            width="100%"
            height="auto"
          >
          <div class="about-card-title">Fast & Free Shipping</div>
          <div class="about-card-desc">Fast delivery from the nearest warehouse.</div>
        </div>
        <div class="about-card-item">
          <img
            class="about-card-icon"
            src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/e56136ee326b926b44b04cc323d7342d_55x_svg.png?v=1752817928"
            alt="shipping"
            width="100%"
            height="auto"
          >
          <div class="about-card-title">90-Day Money Back</div>
          <div class="about-card-desc">You can return your order for a full refund.</div>
        </div>
        <div class="about-card-item">
          <img
            class="about-card-icon"
            src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/7_Support_f994ca0e-ef3e-46e1-a22c-2a89658def08.png?v=1752818398"
            alt="shipping"
            width="100%"
            height="auto"
          >
          <div class="about-card-title">24/7 Support</div>
          <div class="about-card-desc">Enjoy peace of mind with our round-the-clock support.</div>
        </div>
        <div class="about-card-item">
          <img
            class="about-card-icon"
            src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/2-Year_Warranty_1.png?v=1752818192"
            alt="shipping"
            width="100%"
            height="auto"
          >
          <div class="about-card-title">2-Year Warranty</div>
          <div class="about-card-desc">Ulike devices are covered for a period of 2 years.</div>
        </div>
        <div class="about-card-item">
          <img
            class="about-card-icon"
            src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Buy_Now_Pay_Later_f6ca0537-1216-46c7-a978-2c7fbc2cfc0d.png?v=1752818088"
            alt="shipping"
            width="100%"
            height="auto"
          >
          <div class="about-card-title">Buy Now, Pay Later</div>
          <div class="about-card-desc">Shop with ease thanks to our flexible payment options.</div>
        </div>
      </div>
    </div>
  {% endcomment %}
</section>
<script src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/swiper-bundle.min.js?v=1712905203"></script>

{% schema %}
{
  "name": "about_page",
  "presets": [
    {
      "name": "about_page",
      "blocks": []
    }
  ]
}
{% endschema %}
