{% comment %}
  {%- liquid
    assign se_id = section.id
    assign se_bks = section.blocks
    assign se_stts = section.settings
  -%}
  {% if se_stts.show_plug == true %}
{% endcomment %}
<link
  rel="stylesheet"
  href="{{ 'uk-green-email-subscribe.css' | asset_url }}"
>

<div class="green-subscribe-module">
  <div class="green-subscribe-module-cont">
    <div class="green-subscribe-module-close">
      <img
        class="windows-close"
        src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/close_dead8d55-bb0f-4a1e-9a3b-a20c023c0f52.png?v=1747793321"
        alt=""
        loading="lazy"
      >
      <img
        class="mobile-close"
        src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/invitation_close_mobile.png?v=1745396295"
        alt=""
        loading="lazy"
        width="100%"
      >
    </div>
    {% comment %}
      <div class="fixed-bg">
        <img
          src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/bigTurntableEmail_pc_064e4080-9517-4c84-8abd-ae7ddda46a72.png?v=1745906908"
          alt=""
          class="gs-img"
          loading="lazy"
        >
      </div>
    {% endcomment %}
    <div class="green-subscribe-module-gs rotate-bg">
    </div>
    <!-- 转盘 -->
    <div class="tray-subscribe">
      <div class="tray">
        <!-- 大转盘抽奖 -->
        <div class="tray-main click-rotate-prize">
          <div class="tray-part tray-part-one">
            <div class="tray-prize">
              <div class="tray-prize-cont yhq-cont">
                <img
                  src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/vouchers_2.png?v=1747793320"
                  alt=""
                  class="yhq-img"
                  loading="lazy"
                >
                <div class="tray-prize-text">
                  <div class="price-total"><span class="num"></span></div>
                  <span class="price-status">OFF</span>
                </div>
              </div>
            </div>
          </div>
          <div class="tray-part tray-part-two">
            <div class="tray-prize">
              <div class="tray-prize-cont yhq-cont">
                <img
                  src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/vouchers_1.png?v=1747793320"
                  alt=""
                  class="yhq-img"
                  loading="lazy"
                >
                <div class="tray-prize-text">
                  <div class="price-total"><span class="num"></span></div>
                  <span class="price-status">OFF</span>
                </div>
              </div>
            </div>
          </div>
          <div class="tray-part tray-part-three">
            <div class="tray-prize">
              <div class="tray-prize-cont yhq-cont">
                <div class="tray-prize-text">
                  <div class="price-total">Free</div>
                  <span class="price-status">Air3</span>
                </div>
                <img
                  src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/prduct_1.png?v=1747793320"
                  alt=""
                  class="yhq-img"
                  loading="lazy"
                >
              </div>
            </div>
          </div>
          <div class="tray-part tray-part-four">
            <div class="tray-prize">
              <div class="tray-prize-cont yhq-cont">
                <div class="tray-prize-text">
                  <div class="price-total">500</div>
                  <span class="price-status">points</span>
                </div>
                <img
                  src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/money_icon_6a54e174-2a38-4937-a240-3091ce1e122a.png?v=1747793320"
                  alt=""
                  loading="lazy"
                  class="yhq-img"
                >
              </div>
            </div>
          </div>
          <div class="green-bg">
            <img
              class="green_leaf_1"
              src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/green_leaf_4.png?v=1748940553"
              loading="lazy"
              alt=""
            >
            <img
              class="green_leaf_flex_1"
              src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/yellow_leaf_2.png?v=1748940552"
              loading="lazy"
              alt=""
            >
            <img
              class="green_leaf_2"
              src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/green_leaf_1.png?v=1748940553"
              loading="lazy"
              alt=""
            >
            <img
              class="green_leaf_flex_2"
              src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/yellow_leaf_3.png?v=1748940552"
              loading="lazy"
              alt=""
            >
            <img
              class="green_leaf_3"
              src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/Frame_457393764_2x_1.png?v=1749638185"
              loading="lazy"
              alt=""
            >
            <img
              class="green_leaf_flex_3"
              src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/yellow_leaf_4.png?v=1748940553"
              loading="lazy"
              alt=""
            >
            <img
              class="green_leaf_4"
              src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/green_leaf_3.png?v=1748940553"
              loading="lazy"
              alt=""
            >
            <img
              class="green_leaf_flex_4"
              src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/yellow_leaf_1.png?v=1748940552"
              loading="lazy"
              alt=""
            >
          </div>
        </div>
        <!-- 箭头 -->
        <div class="tray-pointer">
          <img
            src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/pointer_img.png?v=1747793320"
            loading="lazy"
            alt=""
            class="jt-img"
          >
        </div>
        <div class="green-bot">
          <img
            src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/green_bot.png?v=1747793321"
            loading="lazy"
            alt=""
          >
        </div>
      </div>
    </div>
    <!-- 右侧文字 -->
    <div class="green-subscribe-module-text">
      <div class="green-subscribe-module-text-cont">
        <div class="green-subscribe-module-text-title">The magic clover knows your fortune...</div>
        <div class="green-subscribe-module-text-hint">Reveal your destiny now - everyone wins!</div>
        {% comment %}
          <div class="green-subscribe-module-slide">
            <div class="green-subscribe-module-slide-list"></div>
          </div>
        {% endcomment %}
        <div class="green-subscribe-module-from">
          <input type="email" class="green-subscribe-module-input" placeholder="Enter email to unlock luck *">
          <div class="green-subscribe-module-inp-msg">
            <p><span class="span">!</span> <span class="text"></span></p>
          </div>
          <div class="checkbox-wrapper">
            <div class="checkbox checked" id="green-subscribe-module-checkbox">
              <span class="checkmark">✔</span>
            </div>
            <div class="green-subscribe-module-text-tips">
              To continue, you agree to our Ulike
              <a
                href="https://uk.ulike.com/pages/privacy-policy"
                target="_blank"
                rel="noopener noreferrer"
                >Privacy Policy</a
              >
              and
              <a
                href="https://uk.ulike.com/pages/terms-of-service"
                target="_blank"
                rel="noopener noreferrer"
                >Terms of Use.</a
              >
            </div>
          </div>
          <div class="green-subscribe-module-inp-msg module-checkmark">
            <p><span class="span">!</span> <span class="text">Please agree to our privacy policy.</span></p>
          </div>
          <div class="green-subscribe-module-btn">
            <div class="btn-txt" text="Continue">
              <span>Continue</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 结果 -->
    <div class="green-subscribe-module-dispatch">
      <img
        src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/input_jl.png?v=1747793320"
        class="big-success-pc"
        loading="lazy"
      >
      <div class="dispatch-content">
        <div class="tray-part tray-part-two">
          <div class="tray-prize">
            <div class="tray-prize-cont yhq-cont benefitType-coupon">
              <img
                src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/tongyongimage.png?v=1747793321"
                alt=""
                class="yhq-img"
              >
              <div class="tray-prize-text">
                <div class="price-total"><span class="num"></span></div>
                <span class="price-status">OFF</span>
              </div>
              <div class="validity-period">Valid for 7 days</div>
            </div>
            <div class="tray-prize-cont yhq-cont benefitType-goods-virtual">
              <div class="tray-prize-text">
                <div class="price-total"><span class="num"></span></div>
                <span class="price-status">Points</span>
              </div>
              <img
                src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/money_icon_6a54e174-2a38-4937-a240-3091ce1e122a.png?v=1747793320"
                alt=""
                class="yhq-img"
              >
              <div class="validity-period">Valid for 7 days</div>
            </div>
          </div>
        </div>
      </div>
      {% comment %}
        <div class="benefitType-goods-virtual">
          <h3 class="dispatch-title"></h3>
          <p class="dispatch-p"></p>
        </div>
      {% endcomment %}
      <div class="dispatch-yhq-txt">
        <div class="discounted-price">Claim Your Personal Fortune</div>
        <div class="discounted-off">
          Your lucky gift has been sent! Check your email or <span class="discover-more-account">account</span>.
        </div>
      </div>
      {% comment %} <div class="discover-more-btn">Discover More</div> {% endcomment %}
      <div class="discover-more-btn">Check my benefits</div>
    </div>
    <!-- 跳转 -->
    <div class="green-subscribe-module-jump">
      <div class="left-beau-img">
        <img src="https://cdn.shopify.com/s/files/1/0740/5882/6015/files/input_sup.png?v=1747793321" loading="lazy"  alt="">
      </div>
      <div class="right-input-password">
        <div class="green-subscribe-module-jump-cont">
          <div class="green-subscribe-module-jump-title">"Bonus luck to unlock!"</div>
          <div class="green-subscribe-module-jump-hint">-- Lucky Clover</div>
          <div class="subscribe-more-from">
            <input type="text" class="subscribe-more-input" placeholder="Enter your password to receive benefits *">
            <div class="subscribe-more-inp-msg">
              <p><span class="span">!</span> <span class="text"></span></p>
            </div>
            <div class="green-subscribe-module-inp-msg unlock-more-ver">
              <p><span class="span">!</span> <span class="text">Please agree to our privacy policy.</span></p>
            </div>
            <div class="subscribe-more-btn">
              <div class="btn-txt" text="Continue">
                {% comment %} <span>Unlock More</span> {% endcomment %}
                <span>Get benefits now</span>
              </div>
            </div>
            <div class="right-input-password-checkbox">
              <div class="checkbox" id="subscribe-jump-checkbox">
                <span class="checkmark">✔</span>
              </div>
              <span class="green-subscribe-module-text-tips">
                Congratulations！ You are a Ulike member and will soon enter the user center to claim your benefits
              </span>
            </div>
            <div class="green-subscribe-module-inp-msg module-checkmark">
              <p><span class="span">!</span> <span class="text">Please agree to our privacy policy.</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="green-subscribe-teaser-app">
  <div class="flex-block">
    <div class="close">
      <img
        src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/Frame_457393924_1.svg?v=1715326764"
        fetchpriority="low"
        alt="teaser-close"
        loading="lazy"
      >
    </div>
    <img
      src=""
      class="teaser-image"
      alt="teaser"
      width="46px"
      height="46px"
      onclick="ulikeOpenSubscribe()"
      loading="lazy"
    >
  </div>
</div>
<div id="green-subscribe-loading-overlay">
  <div class="green-subscribe-loading-spinner"></div>
</div>
{% comment %} <script src="{{ 'uk-green-email-subscribe.js' | asset_url }}" defer="defer"></script> {% endcomment %}

<script>
  window.addEventListener('load', function () {
    function loadSubscribeScript() {
      const script = document.createElement('script');
      script.src = "{{ 'uk-green-email-subscribe.js' | asset_url }}";
      script.defer = true;
      document.body.appendChild(script);
    }
    // 初次检查是否已经在视口中
     loadSubscribeScript();
  });
</script>

{% schema %}
{
  "name": "uk-green-email-subscribe",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_plug",
      "label": "弹出框 开启",
      "default": false
    }
  ],
  "blocks": []
}
{% endschema %}
