{%- liquid
    assign se_id = section.id
    assign se_bks = section.blocks
    assign se_stts = section.settings
  -%}
  {% if se_stts.show_plug == true %}
    <link rel="stylesheet" href="{{ 'wheel.css' | asset_url }}" >
    <div class="subscribe-module">
      <div class="subscribe-module-cont">
        <div class="subscribe-module-close">
          <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39" fill="none">
            <path
              d="M19.5004 38C23.1593 38 26.7361 36.915 29.7784 34.8822C32.8207 32.8494 35.1919 29.9601 36.5921 26.5796C37.9923 23.1992 38.3587 19.4795 37.6449 15.8908C36.9311 12.3022 35.1691 9.0058 32.5818 6.41853C29.9946 3.83126 26.6982 2.06931 23.1095 1.35548C19.5209 0.641654 15.8012 1.00802 12.4207 2.40824C9.04029 3.80846 6.15098 6.17965 4.11818 9.22196C2.08537 12.2643 1.00037 15.841 1.00037 19.5C1.00037 24.4065 2.94947 29.1121 6.41889 32.5815C9.88831 36.0509 14.5939 38 19.5004 38Z"
              stroke="#7D7C82" stroke-miterlimit="10" />
            <path d="M25.0004 14L14.0004 25" stroke="#7D7C82" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M14.0004 14L25.0004 25" stroke="#7D7C82" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <div class="fixed-bg">
          <img 
            data-src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/bigTurntableEmail_pc_064e4080-9517-4c84-8abd-ae7ddda46a72.png?v=1745906908" alt=""
             class="lazyload gs-img">
        </div>
        <div class="subscribe-module-gs rotate-bg">
          <img data-src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/gs_800x.png" alt="" class="lazyload gs-img">
        </div>
        <!-- 转盘 -->
        <div class="tray-subscribe">
          <div class="tray">
            <img data-src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/k.png" alt="" class="lazyload 
            k-img">
            <img data-src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/dg.png" alt="" class="lazyload dg-img">
            <img data-src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/dg1.png" alt="" class="lazyload dg-img dg-img1">
            <!-- 大转盘抽奖 -->
            <div class="tray-main">
              <div class="tray-part" style="display: none;">
                <div class="tray-bg"></div>
                <div class="tray-prize"></div>
              </div>
            </div>
            <!-- 箭头 -->
            <div class="tray-pointer">
              <img data-src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/jt.png" alt="" class="lazyload jt-img">
            </div>
          </div>
          <div class="tray-dz">
            <img data-src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/dz.png" alt="" class="lazyload dz-img">
          </div>
        </div>
        <!-- 右侧文字 -->
        <div class="subscribe-module-text">
          <div class="subscribe-module-text-cont">
            <div class="subscribe-module-text-title"></div>
            <div class="subscribe-module-slide">
              <div class="subscribe-module-slide-list"></div>
            </div>
            <div class="subscribe-module-from">
              <input type="email" class="subscribe-module-input" placeholder="Enter your email">
              <div class="subscribe-module-inp-msg">
                <p><span class="span">!</span> <span class="text"></span></p>
              </div>
              <div class="subscribe-module-btn btn-diy">
                <div class="btn-txt" text="SPIN NOW">
                  <span>SPIN NOW</span>
                </div>
              </div>
            </div>
            <div class="subscribe-module-text-tips">
              
            </div>
          </div>
        </div>
        <!-- 结果 -->
        <div class="subscribe-module-dispatch">
          <img data-src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/Frame_457393711_2x_1.png?v=1745995577" 
            class="lazyload bigTurntableEmail_pc">
          <div class="dispatch-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39" fill="none">
              <path d="M19.5004 38C23.1593 38 26.7361 36.915 29.7784 34.8822C32.8207 32.8494 35.1919 29.9601 36.5921 26.5796C37.9923 23.1992 38.3587 19.4795 37.6449 15.8908C36.9311 12.3022 35.1691 9.0058 32.5818 6.41853C29.9946 3.83126 26.6982 2.06931 23.1095 1.35548C19.5209 0.641654 15.8012 1.00802 12.4207 2.40824C9.04029 3.80846 6.15098 6.17965 4.11818 9.22196C2.08537 12.2643 1.00037 15.841 1.00037 19.5C1.00037 24.4065 2.94947 29.1121 6.41889 32.5815C9.88831 36.0509 14.5939 38 19.5004 38Z" stroke="#7D7C82" stroke-miterlimit="10"></path>
              <path d="M25.0004 14L14.0004 25" stroke="#7D7C82" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M14.0004 14L25.0004 25" stroke="#7D7C82" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </div>
          <div class="dispatch-content">
            <h3 class="dispatch-title"></h3>
            <p class="dispatch-p"></p>
          </div>
          <div class="dispatch-yhq-txt">
              <span class="discounted-price">$200</span>
              <br/>
              <span class="discounted-off">OFF</span>
          </div>
          <div class="got-it-wapper">
            <div class="bottom-close-btn">Got it</div>
            <p>Can not stack with other discounts.</p>
         </div>
          <div class="dispatch-img">
            <svg xmlns="http://www.w3.org/2000/svg" width="208" height="92" viewBox="0 0 208 92" fill="none">
              <path
                d="M198 0H46C46 2.2 44.2 4 42 4C39.8 4 38 2.2 38 0H10C10 5.5 5.5 10 0 10V82C5.5 82 10 86.5 10 92H38C38 89.8 39.8 88 42 88C44.2 88 46 89.8 46 92H198C198 86.5 202.5 82 208 82V10C202.5 10 198 5.5 198 0ZM42 84C40.9 84 40 83.1 40 82C40 80.9 40.9 80 42 80C43.1 80 44 80.9 44 82C44 83.1 43.1 84 42 84ZM42 77C40.9 77 40 76.1 40 75C40 73.9 40.9 73 42 73C43.1 73 44 73.9 44 75C44 76.1 43.1 77 42 77ZM42 70C40.9 70 40 69.1 40 68C40 66.9 40.9 66 42 66C43.1 66 44 66.9 44 68C44 69.1 43.1 70 42 70ZM42 63C40.9 63 40 62.1 40 61C40 59.9 40.9 59 42 59C43.1 59 44 59.9 44 61C44 62.1 43.1 63 42 63ZM42 56C40.9 56 40 55.1 40 54C40 52.9 40.9 52 42 52C43.1 52 44 52.9 44 54C44 55.1 43.1 56 42 56ZM42 49C40.9 49 40 48.1 40 47C40 45.9 40.9 45 42 45C43.1 45 44 45.9 44 47C44 48.1 43.1 49 42 49ZM42 42C40.9 42 40 41.1 40 40C40 38.9 40.9 38 42 38C43.1 38 44 38.9 44 40C44 41.1 43.1 42 42 42ZM42 35C40.9 35 40 34.1 40 33C40 31.9 40.9 31 42 31C43.1 31 44 31.9 44 33C44 34.1 43.1 35 42 35ZM42 28C40.9 28 40 27.1 40 26C40 24.9 40.9 24 42 24C43.1 24 44 24.9 44 26C44 27.1 43.1 28 42 28ZM42 21C40.9 21 40 20.1 40 19C40 17.9 40.9 17 42 17C43.1 17 44 17.9 44 19C44 20.1 43.1 21 42 21ZM42 14C40.9 14 40 13.1 40 12C40 10.9 40.9 10 42 10C43.1 10 44 10.9 44 12C44 13.1 43.1 14 42 14Z"
                fill="url(#paint0_linear_477_1730)" />
              <path d="M26.6 46.6001H18.1V49.9001H26.6V46.6001Z" fill="white" />
              <path d="M26.6 52.8H14V56.1001H26.6V52.8Z" fill="white" />
              <path d="M16.4 46.6001H14V49.9001H16.4V46.6001Z" fill="white" />
              <path
                d="M14.8 30.6001V34.5001L19.3 40.4001H14V43.7001H26.6V40.4001H21L26.6 33.9001V30.3H26.5L20.1 37.5001L14.8 30.6001Z"
                fill="white" />
              <path
                d="M15.5 63.7001V62.5001H21.9C24 62.5001 25.2 64.2001 25.2 66.0001C25.2 67.8001 24 69.5001 21.9 69.5001H14V75.2001L15.5 74.1001V72.9001H21.8C25.5 72.9001 26.9 69.3001 26.9 66.0001C26.9 62.7001 25.4 59.1001 21.8 59.1001H14V64.8001L15.5 63.7001Z"
                fill="white" />
              <path
                d="M16.2 18.8C15 20 14.3 21.9 14.4 23.8C14.4 26 15.1 27.9 16.4 29.3C17.5 30.5 19.1 31.1001 20.7 31.1001C22.3 31.1001 24.3 30.3 25.4 28.8C26.5 27.3 26.9 26 26.9 23.8C26.9 23.2 26.9 22.6001 26.8 22.1001C26.4 19.5001 24.9 17.8001 23.3 17.2001V20.0001C24.1 20.4001 25 21.7 25 23.8C25 25.9 23.2 27.6001 21.3 27.7001V16.9C19.1 16.8 17.3 17.5 16.1 18.8H16.2ZM19.6 27.6001H19.5C17.9 27.3001 16.2 26.1 16.2 23.8C16.2 21.5 18.1 20.3001 19.5 20.1001H19.6V27.6001Z"
                fill="white" />
              <defs>
                <linearGradient id="paint0_linear_477_1730" x1="104" y1="92" x2="104" y2="0"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#FF7595" />
                  <stop offset="1" stop-color="#E0004D" />
                </linearGradient>
              </defs>
            </svg>
            <div class="dispatch-yhq-txt">
              <span>$200</span>
              OFF
            </div>
          </div>
          <div class="dispatch-product">
            <div class="dispatch-product-img">
              <img src="" alt="">
            </div>
            <div class="dispatch-product-txt">
              <h3 class="dispatch-product-title"></h3>
              <div class="dispatch-product-price">
                <span class="n-price"></span>
                <span class="d-price"></span>
              </div>
              <p class="dispatch-product-p">Lasting hair removal solution</p>
              <div class="dispatch-product-btn btn-diy">
                <div class="btn-txt" text="ADD TO CART">
                  <span>ADD TO CART</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="teaser-app">
        <div class="flex-block">
          <div class="close">
            <img
              src="https://cdn.shopify.com/s/files/1/0656/9079/6273/files/Frame_457393924_1.svg?v=1715326764"
              fetchpriority="low"
              alt="teaser-close"
            >
          </div>
          <img
            src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/20240429-100801.gif?v=1714374205"
            loading="lazy"
            class="teaser-image"
            alt="teaser-image"
            width="46px"
            height="46px"
            onclick="ulikeOpenSubscribe()"
          >
        </div>
      </div>
    <script src="{{ 'confetti.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'wheel.js' | asset_url }}" defer="defer"></script>
  {% endif %}
  {% schema %}
  {
    "name": "wheel",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_plug",
        "label": "弹出框 开启",
        "default": false
      }
    ],
    "blocks": []
  }
  {% endschema %}
  