<style>
  .ze-snippet-all {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 85px;
    right: 16px;
    z-index: 9999999999;
    background: rgb(0, 0, 0, 0.4);
  }
  .ze-icon-num {
    position: absolute;
    top: -8px;
    right: -4px;
    font-size: 12px;
    background: rgb(224, 0, 77);
    color: #fff;
    border-radius: 21px;
    width: 21px;
    height: 21px;
    text-align: center;
    display: none;
  }
  .closesinppetliass {
    display: none;
  }
  @media screen and (min-width: 1000px) {
    .opensinppetclass:hover {
      width: 50px;
      height: 50px;
      background: rgb(224, 0, 77);
    }
    .closesinppetliass:hover {
      width: 50px;
      height: 50px;
      background: rgb(0, 0, 0);
    }
  }
</style>
<div class="ze-snippet-all">
  <div class="ze-icon-num" id="ze-icon-num">0</div>
  <div class="opensinppetclass" onclick="opensinppet()" id="opensinppetclass">
    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="50" height="50" fill="black" fill-opacity="0"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M18.84 30.12H31.31C32.82 30.12 34.21 29.88 34.21 27.98V17.57C34.21 15.88 33.67 15 31.31 15H14.22C11.67 15 11 16.29 11 17.57V27.98C11 29.88 12.51 29.92 13.91 30.12L12.91 33.57L18.84 30.12ZM27.66 20.69C28.1006 20.6791 28.5278 20.8418 28.8495 21.143C29.1713 21.4441 29.3618 21.8597 29.38 22.3C29.3813 22.5258 29.3377 22.7496 29.2516 22.9583C29.1655 23.167 29.0387 23.3565 28.8786 23.5157C28.7185 23.6749 28.5283 23.8006 28.319 23.8855C28.1098 23.9703 27.8858 24.0127 27.66 24.01C27.2214 23.9918 26.8075 23.8027 26.5066 23.4831C26.2057 23.1635 26.0418 22.7389 26.05 22.3C26.0626 21.877 26.2362 21.4747 26.5355 21.1755C26.8347 20.8762 27.237 20.7026 27.66 20.69ZM23.14 20.69C23.5646 20.6977 23.9696 20.8698 24.2699 21.1701C24.5702 21.4704 24.7423 21.8754 24.75 22.3C24.7567 22.518 24.7203 22.7352 24.643 22.9392C24.5657 23.1431 24.4489 23.3298 24.2994 23.4886C24.1499 23.6475 23.9705 23.7753 23.7716 23.8647C23.5726 23.9542 23.358 24.0035 23.14 24.01C22.9147 24.0127 22.6911 23.9703 22.4825 23.8853C22.2738 23.8003 22.0842 23.6745 21.9249 23.5151C21.7656 23.3558 21.6397 23.1662 21.5547 22.9576C21.4697 22.7489 21.4273 22.5253 21.43 22.3C21.4457 21.8606 21.634 21.445 21.9542 21.1436C22.2743 20.8422 22.7004 20.6792 23.14 20.69ZM18.21 20.69C18.6338 20.7002 19.0375 20.873 19.3372 21.1728C19.637 21.4726 19.8099 21.8762 19.82 22.3C19.8308 22.7396 19.6678 23.1657 19.3664 23.4858C19.065 23.806 18.6495 23.9943 18.21 24.01C17.9834 24.014 17.7583 23.9727 17.5479 23.8884C17.3375 23.8041 17.1461 23.6786 16.9849 23.5193C16.8237 23.36 16.696 23.1701 16.6093 22.9607C16.5226 22.7513 16.4786 22.5267 16.48 22.3C16.4982 21.8579 16.6902 21.4408 17.0141 21.1394C17.338 20.838 17.7677 20.6765 18.21 20.69ZM37.36 21.89H36.61V30.17C36.61 31.88 35.67 32.63 34.36 32.63H19.67V32.96C19.7543 33.6031 20.076 34.1915 20.5718 34.6096C21.0677 35.0278 21.7019 35.2455 22.35 35.22H33.52L37.82 37.79L37.19 35.22H37.39C37.9426 35.1666 38.4532 34.9016 38.8148 34.4803C39.1764 34.0591 39.361 33.5143 39.33 32.96V23.88C39.3604 23.6179 39.3312 23.3523 39.2444 23.1031C39.1577 22.8539 39.0157 22.6275 38.8291 22.4409C38.6425 22.2543 38.4161 22.1123 38.1669 22.0256C37.9177 21.9389 37.6521 21.9096 37.39 21.94L37.36 21.89Z" fill="white"/>
    </svg>
  </div>
  <div class="closesinppetliass" onclick="closesinppet()" id="closesinppetliass">
    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="50" height="50" fill="black" fill-opacity="0"/>
      <line x1="16.7071" y1="22.2929" x2="25.7071" y2="31.2929" stroke="white" stroke-width="2"/>
      <line y1="-1" x2="12.7279" y2="-1" transform="matrix(-0.707107 0.707107 0.707107 0.707107 34 23)" stroke="white" stroke-width="2"/>
    </svg>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    zE('messenger:on', 'unreadMessages', (count) => {
      populateUnreadIndicator(count);
    });
    zE('messenger', 'close');
    zE('messenger:on', 'close', function () {
      $('.ze-snippet-all').show();
      $('#opensinppetclass').show();
      zE('messenger', 'close');
      $('#closesinppetliass').hide();
    });
  });

  function opensinppet() {
    if ($(window).outerWidth() >= 1000) {
      zE('messenger', 'open');

      $('#opensinppetclass').hide();
      $('#closesinppetliass').show();
      resetUnreadIndicator();
    } else {
      zE('messenger', 'open');
      $('.ze-snippet-all').hide();
      resetUnreadIndicator();
    }
  }
  function closesinppet() {
    $('#opensinppetclass').show();
    zE('messenger', 'close');
    $('#closesinppetliass').hide();
  }
  function resetUnreadIndicator() {
    const zeiconnum = document.querySelector('#ze-icon-num');
    zeiconnum.style.display = 'none';
    zeiconnum.innerHTML = 0;
  }
  function populateUnreadIndicator(count) {
    const zeiconnum = document.querySelector('#ze-icon-num');
    if (count) {
      zeiconnum.style.display = 'block';
      zeiconnum.innerHTML = count;
    }
  }
</script>

{% schema %}
{
  "name": "zesnippet",
  "class": "shopify-section--header",
  "settings": [
    {
      "type": "link_list",
      "id": "search_menu",
      "label": "Quick links menu",
      "info": "Display quick links when empty. This menu has limited support for dropdown items."
    }
  ],
  "blocks": []
}
{% endschema %}
