<style>
  #shopify-section-zesnippet {
    transform: none;
  }
  .ze-snippet-all {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 70px;
    right: 16px;
    z-index: 9;
  }
  .ze-snippet-all .opensinppetclass {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: url('https://cdn.shopify.com/s/files/1/0656/9079/6273/files/8e0c1ba51fea0332b0550f6861fe163a.svg?v=1699436384');
    background-size: cover;
  }
  .ze-icon-num {
    position: absolute;
    top: -8px;
    right: -4px;
    font-size: 12px;
    background: rgb(224, 0, 77);
    color: #fff;
    border-radius: 21px;
    width: 21px;
    height: 21px;
    text-align: center;
    display: none;
  }
  .closesinppetliass {
    display: none;
  }
  @media screen and (min-width: 1000px) {
    .opensinppetclass:hover {
      width: 60px;
      height: 60px;
      background-image: url('https://cdn.shopify.com/s/files/1/0656/9079/6273/files/8e0c1ba51fea0332b0550f6861fe163a_d9d0d877-e79e-4af6-ac99-754dcbb87414.svg?v=1699436798');
    }
    .closesinppetliass:hover {
      width: 50px;
      height: 50px;
      background: rgb(0, 0, 0);
    }
  }
</style>
<div class="ze-snippet-all">
  <div class="ze-icon-num" id="ze-icon-num">0</div>
  <div class="opensinppetclass" onclick="opensinppet()" id="opensinppetclass">

  </div>
  <div class="closesinppetliass" onclick="closesinppet()" id="closesinppetliass">
    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="50" height="50" fill="black" fill-opacity="0"/>
      <line x1="16.7071" y1="22.2929" x2="25.7071" y2="31.2929" stroke="white" stroke-width="2"/>
      <line y1="-1" x2="12.7279" y2="-1" transform="matrix(-0.707107 0.707107 0.707107 0.707107 34 23)" stroke="white" stroke-width="2"/>
    </svg>
  </div>
</div>
<script type="text/javascript">
  window.addEventListener("load", function () {
   setTimeout(function () {

     setTimeout(function () {
        quickChatApi.on('close', function () {
            $('.ze-snippet-all').show();
            $('#opensinppetclass').show();
            $('#closesinppetliass').hide();
            closesinppet()
        });
      }, 10000); 
      // 使用 getUrlParameter 方法获取参数值
      if (getUrlParameter('customerservice') === 'open') {
        opensinppet();
      }
    }, 1000); 


    $('html').on('click','.open-chatbot',function(){
      quickChatApi.chat();
    });
    
  });


  function opensinppet() {
    if ($(window).outerWidth() >= 1000) {
      quickChatApi.chat();
      $('#opensinppetclass').hide();
      $('#closesinppetliass').show();
      resetUnreadIndicator();
    } else {
      quickChatApi.chat();
      $('.ze-snippet-all').hide();
      resetUnreadIndicator();
    }
  }
  function closesinppet() {
    $('#opensinppetclass').show();
    quickChatApi.close();
    $('#closesinppetliass').hide();
  }
  function resetUnreadIndicator() {
    const zeiconnum = document.querySelector('#ze-icon-num');
    zeiconnum.style.display = 'none';
    zeiconnum.innerHTML = 0;
  }
  function populateUnreadIndicator(count) {
    const zeiconnum = document.querySelector('#ze-icon-num');
    if (count) {
      zeiconnum.style.display = 'block';
      zeiconnum.innerHTML = count;
    }
  }
</script>

{% schema %}
{
  "name": "zesnippet",
  "class": "shopify-section--header",
  "settings": [
    {
      "type": "link_list",
      "id": "search_menu",
      "label": "Quick links menu",
      "info": "Display quick links when empty. This menu has limited support for dropdown items."
    }
  ],
  "blocks": []
}
{% endschema %}
