 /* start 产品详情页卖点板块样式 */
 .product-badge__box {
  display: flex;
  align-items: center;
  background: #F5F5F5;
  justify-content: space-around;
  padding: 13px 5px;
   margin-bottom: 15px;
}
 .product-badge-custom{
  flex-wrap: wrap;
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
}
.product-badge-custom .product-badge__item{
  display: flex;
  align-items: center;
}
.product-badge-custom .product-badge__item span{
  margin-left: 10px;
  font-size: 14px;
}
.product-badge-custom .product-subinfo{
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 15px; 
  column-gap: 2rem;
  flex-direction: column;
}
.product-badge-custom .product-subinfo .product-subinfo-list{
/*   display: flex;
  align-items: center;
  flex-wrap: wrap; */
  display: flex;
    align-items: center;
    align-items: baseline;
}
.product-badge-custom .product-subinfo strong{
  color: #63666A;
  font-size: 14px;
  margin-right: 5px;
}
.product-badge-custom .product-subinfo em{
  color: #e0004d;
font-size: 14px;
top: 0px;
position: relative;
margin-left: 3px;
}
.description__tle {
    display: block;
    font-size: 16px;
    font-weight: 900;
}
@media (max-width: 768px) {
  .product-badge__box{
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    margin-top: 20px;
  }
  .product-badge-custom .product-badge__item {
    align-items: center;
    padding: 5px 10px;
}
  .coupon_info {
    max-width: inherit !important;
    margin-top: 12px;
    padding: 10px !important;
}
  .coupon_priceBox .coupon_price {
    font-size: 18px;
}
}
/* end 产品详情页卖点板块样式 */
 /* start 产品详情页折扣码样式 */
 .shopify-section--main-product .product-form{
  grid-row-gap: initial;
  row-gap: initial;
  margin-top: -8px;
 }
 .shopify-section--main-product .product-meta__reference {
  margin-top: 0px;
 }
 .product_coupon_box{
  position: relative;
  display: flex;
  flex-direction: column;
/* margin-bottom: 20px; */
/* padding-top: 20px;  */
}
.coupon_btn{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.625rem;
}
.coupon_info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
  background-color: #e0004d;
  max-width: 270px;
}
.coupon-txt{
  color: #e0004d;
    font-weight: 700;
    margin-left: 15px;
}
.coupon_priceBox{
  flex: 1 1;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  border-right: 1px dashed #ffffff;
}
.coupon_priceBox .coupon_price{
  font-size: 24px;
}
.coupon_priceBox .coupon_off{
  margin-left: 0.5rem;
font-size: 14px;
}
.coupon_copy{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
.coupon_code{
  margin-right: 1.875rem;
  font-size: 12px;
  line-height: 1rem;
  font-weight: 400;
  color: #666;
  display: none;
}
.coupon_code span{
  line-height: 2rem;
}
.coupon_copyBtn {
  display: flex;
  width: 7rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  --tw-text-opacity: 1;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}
.coupon_copyBtn:hover{
  opacity: 0.8;
}
.coupon_copyBtn.copyActive{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/1);
  color:#E0004D;
}

@media (max-width: 768px) {
  .coupon_copy {
    width: 50%;
  }
  .coupon_copyBtn {
  text-decoration: none;
}
  .coupon-txt{
    font-size: 12px;
}
  .coupon-txt {
    margin-left: 0px;
    display: block;
    margin-top:10px;
}
}
/* end 产品详情页折扣码样式 */
/* start 产品slidebar 公共信息*/
.product-slidebar__info{
  display: flex;
}
.pay-ico-box{
  display: flex;
  width: 100%;
  /* align-content: center; */
  align-items: flex-start;
  /* justify-content: space-between; */
  margin-top: 15px;
  font-size: 14px;
  line-height: 19px;
  flex-direction: column;
  align-items: center;
}
.pay-ico-box.shipping-box {
  flex-basis: 65%;
}
/* .pay-ico-box:not(:last-child){
  border-right: 1px solid #DFDFDF;
} */
.pay-txt{
  font-size:14px;
  color:#797979;
margin-bottom: 8px;
}
.pay-ico{
  flex-basis: 100%;
}
.pay-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.pay-list svg{
  display: inline-block;
  margin: 0px 8px;
}
.shipping-box svg{
  margin: 1px 6px;
}
.shipping-box .pay-ico{
display: flex;
justify-content: end;
}
@media (max-width: 768px) {
    .pay-ico-box{
      flex-direction: column;
      margin-top: 10px;
    }
    .pay-txt{
      font-weight: 700;
    }
    .shipping-box svg{
      margin: 1px;
    }
    .product-slidebar__info{
      flex-direction: column;
    }
    .pay-ico-box:not(:last-child) {
      border-right: none;
    }
  .product-form-countdown-tip .tip-txt{
    width:calc(100vw - 2*var(--container-gutter))
  }
  }
 /* end 产品slidebar 公共信息*/
/* start售后保障yujie*/
    .assure-box{
      display: flex;
      align-content: space-between;
      align-items: stretch;
      justify-content: space-between;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    .assure-list{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      flex-basis: 25%;
    }
    .assure-txt{
      text-align: center;
      line-height: 1.6;
    min-height: 42px;
    color: #323232;
    }
/* end售后保障yujie*/
/* start tip-custom yujie*/
.tip-custom-txt{
  position: relative;
  color: #E0004D;
  display: inline-flex;
  align-items: center;
}
.product-form-countdown-tip .tip-custom-txt{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.tip-custom-txt .tip-custom-txt-ico{
  color: #E0004D;
}
.tip-txt{
  position: absolute;
  left: 0;
  bottom: 30px;
  margin: 0;
  line-height: 1.1;
  color: #ffffff;
  background: #E0004D;
  padding: 10px;
  font-size: 12px;
  transition: all 0.3s;
  opacity: 0;
  z-index: 3;
  width: 320px;
}
.tip-txt::before{
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid #E0004D;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: -7px;
  left: 59px;
}
.product-form-countdown-tip .tip-txt{
  left:auto;
  right:0;
}
.product-form-countdown-tip .tip-txt::before{
  left:auto;
  right: 0;
}
.tip-custom-txt:hover .tip-txt{
  opacity: 1;
}
/* end tip-custom yujie*/


/* start subscribe-btn yujie*/
.code_get-box {
    display: inline-flex;
    background: #E0004D;
    align-items: center;
    color: #ffffff;
    padding: 4px 20px;
      margin: 20px 0 10px;
  height:48px;
}
.code_get-left {
    display: flex;
    margin-right: 15px;
    align-items: center;
}
.code_get-tle {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-size: 24px;
    padding-left: 10px;
}
a.code_get-btn {
    display: inline-block;
    background: #ffffff;
    color: #E0004D;
    padding: 3px 30px;
    border-radius: 20px;
}
/* end subscribe-btn yujie*/