.swiper-pagination-bullet {
  --swiper-pagination-color: #000000;
  --swiper-pagination-bullet-inactive-color: #d9d9d9;
  --swiper-pagination-bullet-border-radius: 80px;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 7px;
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 3;
}
.product-media-new {
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: "initial";
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: "initial";
  }
}

$prodcut-font-color: #190a0a;

.product-sticky-up {
  position: fixed;
  bottom: 190px;
  right: 14px;
  z-index: 6;
  cursor: pointer;
  display: none;
  .box-image {
    width: 70px;
  }
}

.product-new {
  padding: 48px 60px;
  display: flex;
  font-family: Saans;
  font-weight: 300;
  max-width: 1920px;
  margin: 0 auto;
}

.product-media-new {
  width: 60%;
  display: flex;
  display: grid;
  grid-template-columns: 70px auto;
  gap: 10px;
  height: 100%;
  overflow: hidden;
  padding-right: 4%;
  padding-right: 40px;
  max-width: 1000px;
  .thumbs-swiper {
    width: 70px;
    display: flex;
    justify-content: center;
    .swiper_nav {
      height: 100%;
      .swiper-slide {
        width: 70px;
        height: 70px;
        opacity: 0.6;
        position: relative;
        img {
          width: 68px;
        }
      }
      .responsive-clip-path {
        position: absolute;
        max-width: 100%;
        background-color: transparent;
        // clip-path: url(#clipPath);
      }
      .responsive-clip-path img {
        display: flex;
        max-width: 100%;
        border-radius: 4px;
      }
      svg {
        position: absolute;
        width: 0;
        height: 0;
        pointer-events: none;
      }
      .swiper-slide-thumb-active {
        img {
          border: 1px solid #3f3636;
        }
        opacity: 1;
      }
    }
  }
  .main-image-swiper {
    width: 100%;
    position: relative;
    .swiper_main {
      width: 100%;
      max-width: 870px;
      overflow: hidden;
      --swiper-navigation-sides-offset: 15px;
      .product__media-image {
        width: 100%;
      }
      .swiper-slide {
        width: 100% !important;
      }
      .swiper-button-next,
      .swiper-button-prev {
        width: 70px;
        height: 70px;
        &:hover circle {
          fill: #dedede;
        }
      }
      .swiper-button-disabled {
        background-color: #cec8c8;
      }
      .swiper-button-prev {
        transform: rotate(180deg);
      }
      .swiper-pagination {
        display: none;
      }
    }
    .box-share {
      position: absolute;
      right: 20px;
      top: 13px;
      z-index: 3;
      cursor: pointer;
      background-color: #ffffff;
      border-radius: 28px;
      filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
      -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
      .list {
        display: none;
        gap: 2px;
        flex-wrap: wrap;
        width: 56px;
        opacity: 0;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        .share-button {
          background: #efefef;
          border-radius: 50%;
          width: 56px;
          height: 56px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .fb {
          background-image: url("https://cdn.shopify.com/s/files/1/0656/9079/6273/files/Property_1_facebook_0d9b39c2-b1ab-40ff-a936-56fbe5ef6e9c.svg?v=1724829867");
          &:hover {
            background-image: url("https://cdn.shopify.com/s/files/1/0656/9079/6273/files/Property_1_facebook_2de33986-5cc9-4baa-b225-42eeac8ca986.svg?v=1724829867");
          }
        }
        .tw {
          background-image: url("https://cdn.shopify.com/s/files/1/0656/9079/6273/files/Property_1_twitter_1.svg?v=1724829867");
          &:hover {
            background-image: url("https://cdn.shopify.com/s/files/1/0656/9079/6273/files/Property_1_twitter_1cffa606-c690-49f1-9d9e-1838472bcaf6.svg?v=1724829867");
          }
        }
        .pinterest {
          background-image: url("https://cdn.shopify.com/s/files/1/0656/9079/6273/files/Property_1_pinterest_7b811f99-5277-4a20-9090-91ed92fae443.svg?v=1724829867");
          &:hover {
            background-image: url("https://cdn.shopify.com/s/files/1/0656/9079/6273/files/Property_1_pinterest_e66cb2f5-3ff3-4f8a-8ddc-cf377fc2707d.svg?v=1724829867");
          }
        }
        .email {
          background-image: url("https://cdn.shopify.com/s/files/1/0656/9079/6273/files/inbox_11f0359f-05a9-48e6-b8b7-3ae6ed57914f.svg?v=1724829867");
          &:hover {
            background-image: url("https://cdn.shopify.com/s/files/1/0656/9079/6273/files/inbox_316a066d-cd05-476f-8278-a6424917c61f.svg?v=1724829867");
          }
        }
      }
      .main-share-icon {
        width: 56px;
      }
      &:hover {
        .list {
          opacity: 1;
          display: inline-flex;
        }
      }
    }
    .prodcut-tag {
      background: #ffe0e9;
      color: #e0004d;
      text-align: center;
      font-size: 13px;
      font-weight: 670;
      position: absolute;
      top: 13px;
      left: 20px;
      z-index: 3;
      padding: 2px 15px;
      display: none;
    }
  }

  .product-slider-btn-model {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 90px;
    background: #fff;
    right: 20px;
    bottom: 5%;
    z-index: 2;
    width: 128px;
    padding: 15px 18px 8px 18px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    -o-border-radius: 90px;
    display: none;
    img {
      width: 100%;
    }
  }

  .close-three-btn {
    position: absolute;
    z-index: 9;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .three-load {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #000;
    z-index: 4;
    background: #eee;
    display: none;
  }

  .models-btn {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 36px;
    height: 36px;
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
  }
  .models-btn img {
    display: block;
    width: 45%;
  }

  .tips-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }
  .tips-icon.show-box {
    opacity: 1;
    animation: spin-three 3.6s linear infinite;
  }
  .tips-icon .tip-img {
    display: block;
  }
  @keyframes spin-three {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.product-info-new {
  width: 40%;
  .product-badge__box {
    display: none;
  }
  .product-info_title_h1 {
    font-size: 35px;
    font-weight: 500;
    color: $prodcut-font-color;
    line-height: 125%;
    margin-bottom: 0px;
  }
  .product-meta__vendor {
    font-size: 18px;
    line-height: 150%;
    margin: 0px 0px 10px;
    font-weight: 300;
  }
  .product-form {
    margin-top: 0px;
    grid-row-gap: 0px;
    row-gap: 0px;
    .description__tle {
      color: $prodcut-font-color;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .product-subinfo-list {
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 300;
    }
    .product-form__option-name {
      color: $prodcut-font-color;
      font-weight: 300;
      font-size: 16px;
    }
    .product-form__option-value {
      font-weight: 500;
    }
    .product-form__variants {
      padding: 0px 0px 15px;
      border-bottom: 1px solid #f2f2f2;
      margin: 0px;
      display: flex;
      .product-form__option-selector:first-child {
        margin-right: 40px;
        padding-right: 40px;
        // border-right: 2px solid #f9f9f9;
      }
      .product-form__option-selector {
        margin-top: 0px;
      }
      .color-swatch-list {
        margin: 10px 0px 10px;
        display: flex;
        gap: 20px;
      }
    }
    .color-swatch__item {
      border: 0px;
      height: 28px;
      width: 28px;
      &:before,
      &:after {
        top: -6px;
        left: -6px;
        width: calc(100% + 12px);
        height: calc(100% + 12px);
        border-width: 1px;
      }
      &:before {
        border-color: rgba(217, 217, 217, 1);
      }
    }

    .p-box-price {
      margin: 25px 0px 14px;
      display: flex;
      gap: 10px;
      align-items: center;
      .price {
        font-size: 26px;
        font-weight: 500;
        color: #e0004d;
        line-height: 130%;
      }
      .original_price {
        color: #bfc0ba;
        font-size: 22px;
        line-height: 130%;
        text-decoration: line-through;
      }
      .information {
        background: #ffe0e9;
        font-size: 13px;
        color: #e0004d;
        padding: 2px 10px;
        font-weight: 500;
        display: flex;
        align-items: center;
        span {
          font-size: 16px;
          margin-left: 4px;
          line-height: 110%;
        }
      }
    }

    .p-box-installment {
      font-size: 14px;
      color: #3f3636;
      line-height: 30px;
      img {
        margin: 0px 10px;
        width: 70px;
      }
    }
    .p-box-discount-code {
      width: 100%;
      padding: 15px 0px;
      border-bottom: 1px solid #f2f2f2;
      .warp-width {
        width: 520px;
        position: relative;
      }
      .abs-discount-detail {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        display: flex;
        padding-right: 10px;
        color: #fff;
        height: 100%;
        .left-block {
          width: 60%;
          font-size: 40px;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
        }
        .right-block {
          width: 40%;
          display: flex;
          align-items: center;
          justify-content: center;
          .btn-copy-block {
            text-align: center;
            font-size: 18px;
            cursor: pointer;
            line-height: 120%;
            .code {
              font-weight: 500;
              margin-top: 4px;
            }
            &:hover {
              .code {
                text-decoration-line: underline;
              }
            }
          }
          .copy-success {
            display: none;
            color: #ffe0e9;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            align-items: center;
            justify-content: center;
            gap: 4px;
            &.show {
              display: flex;
            }
          }
        }
      }
    }

    .pay-block {
      display: flex;
      .quantity-selector {
        border-radius: 4px 0px 0px 4px;
        border: 3px solid #190a0a;
        background: #fff;
        input[type="text"]{
          margin: 0px;
          border: 0px;
        }
      }
      .btn-add-to-cart {
        width: 100%;
        border-radius: 0px 4px 4px 0px;
        background: #190a0a;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        text-transform: uppercase;
        color: #fbfaf4;
        transition:          background-color 0.3s ease,          transform 0.1s ease;
        position: relative;
        &:hover{
          background-color: #3f3636; // Hover state
        }
        &:active {
          background-color: #130707; // Active/Click state
          transform: scale(0.98); // Slightly shrink the button to give a feedback effect
        }
        &[aria-busy="true"] {
          background-color: #130707; // Loading state background
          cursor: wait;

          &:before {
            content: "";
            position: absolute;
            left: 50%;
            width: 16px;
            height: 16px;
            border: 2px solid white;
            border-radius: 50%;
            border-top-color: transparent;
            animation: spin 1s linear infinite;
            transform: translate(-50%, -50%);
          }

          .button-text {
            visibility: hidden; // Hide button text during loading
          }
        }
      }
    }

    .button-buy-now {
      background: #190a0a;
      height: 52px;
      color: #fff;
      display: flex;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      text-transform: uppercase;
      align-items: center;
      cursor: pointer;
      justify-content: center;
       &:hover {
          background-color: #3f3636; // Hover state
        }
        &:active {
          background-color: #130707; // Active/Click state
          transform: scale(0.98); // Slightly shrink the button to give a feedback effect
        }
        &[aria-busy="true"] {
          background-color: #130707; // Loading state background
          cursor: wait;
          &:before {
            content: "";
            position: absolute;
            left: 50%;
            width: 16px;
            height: 16px;
            border: 2px solid white;
            border-radius: 50%;
            border-top-color: transparent;
            animation: spin 1s linear infinite;
            transform: translate(-50%, -50%);
          }

          .button-text {
            visibility: hidden; // Hide button text during loading
          }
        }
    }

    .p-box-aftermarket {
      border-radius: 8px;
      background: #f9f9f9;
      padding: 20px 20px 20px 20px;
      display: flex;
      align-items: center;
      gap: 15px;
      margin-top: 10px;
      justify-content: center;
      .item {
        font-size: 12px;
        color: #3f3636;
        font-weight: 500;
        position: relative;
        line-height: 18px;
        padding-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        &::after {
          background: #dcdcdc;
          width: 1px;
          height: 11.76px;
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &:last-child {
          padding-right: 0px;
          &::after {
            display: none;
          }
        }
      }
    }

    .p-collapsible-container { 
      display: none;
    }


    .shopify-payment-button__button {
      border: 0px !important;
    }
    .product-form__buy-buttons .shopify-cleanslate .jjzYeefyWpPZLH9pIgyw {
      // background: #fff !important;
      border-radius: 60px !important;
      border: 1px solid #190a0a !important;
      -webkit-border-radius: 60px !important;
      -moz-border-radius: 60px !important;
      -ms-border-radius: 60px !important;
      -o-border-radius: 60px !important;
      gap: 6px;
      font-size: 16px !important;
      font-weight: 600 !important;
      color: #253b80;
      &:hover {
        // background: #fbfaf4 !important;
      }
      svg {
        width: 80px !important;
        height: 28px !important;
      }
    }

    .shopify-payment-button__more-options {
      display: none;
    }
    .shopify-payment-button {
      --button-border-radius: 4px 4px 4px 4px;
    }
  }
}

.product-sticky-form {
  padding: 10px 8% 10px 60px;
  z-index: 4;
  .product-sticky-form__title {
    color: #190a0a;
    font-size: 24px;
    font-weight: 500;
    line-height: 125%; /* 30px */
    margin-right: 30px;
  }
  .select-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 40px;
    .combo-box__option-item {
      padding: 0px;
      padding: 3px;
      border: 1px solid #d9d9d9;
      border-radius: 50%;
      height: 36px;
      width: 36px;
      .combo-box__color-swatch {
        width: 100%;
        height: 100%;
        margin: 0px;
        display: flex;
        border-radius: 50%;
      }
    }
    .combo-box__option-item[aria-selected="true"] {
      border-color: #000;
    }
  }
}

@media screen and (max-width: 1520px) {
  /* 你的样式 */
  .product-new {
    padding: 30px 40px;
  }
  .product-media-new {
    width: 60%;
    display: flex;
    height: 650px;
    overflow: hidden;
    padding-right: 2%;
    .product-slider-btn-model {
      width: 80px;
      padding: 10px 10px 6px;
      bottom: 3%;
    }
    .main-image-swiper .swiper_main .product__media-image {
      height: initial;
    }
  }
  .product-info-new {
    width: 40%;
    .product-info_title_h1 {
      font-size: 32px;
    }
    .product-meta__vendor {
      margin-top: 0px;
      font-size: 16px;
    }
    .product-form {
      .product-form__variants {
        padding: 0px 0px 10px;
      }
      .product-form__description {
        margin: 10px 0px 10px;
      }
      .product-subinfo-list {
        font-size: 12px;
      }
      .p-box-price {
        margin: 10px 0px;
      }
      .description__tle {
        margin-bottom: 5px;
      }
      .p-box-discount-code {
        width: 100%;
        .warp-width {
          width: 80%;
        }
        .abs-discount-detail {
          .left-block {
            font-size: 28px;
          }
          .right-block .btn-copy-block {
            font-size: 16px;
          }
        }
      }
      .p-box-installment {
        font-size: 12px;
        margin: 0px;
        display: flex;
        align-items: center;
        img {
          margin: 0px 6px;
        }
      }
      .p-box-aftermarket {
        padding: 15px;
        gap: 20px;
        .item {
          line-height: 16px;
          padding-right: 0px;
          gap: 6px;
        }
      }
    }
  }
  .product-sticky-form {
    padding: 10px 40px;
  }
}

@media (max-width: 768px) {
  .product-new {
    display: block;
    max-width: 100%;
    padding: 0px 0px;
    .product-meta {
      margin-top: 0px;
    }
  }
  .product-media-new {
    width: 100%;
    padding-right: 0px;
    height: initial;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    overflow: initial;
    .thumbs-swiper {
      width: 100%;
      margin-top: 10px;
      padding-left: 15px;
      overflow: hidden;
      .swiper_nav {
        width: 100%;
        height: initial;
        .swiper-slide {
          width: 70px;
        }
      }
    }
    .main-image-swiper {
      width: 100%;
      margin-left: 0px;
      .swiper_main {
        min-height: 340px;
        .product__media-image {
          height: auto;
          width: 100%;
        }
        .swiper-button-next,
        .swiper-button-prev {
          display: none;
        }
        .swiper-pagination-bullet {
          --swiper-pagination-bullet-size: 8px;
          --swiper-pagination-bullet-horizontal-gap: 4px;
          // --swiper-pagination-bullet-inactive-color: #FFFFFC;
        }
        .swiper-pagination {
          display: block;
        }
      }
      .box-share {
        .main-share-icon {
          width: 36px;
        }
        .list {
          display: none;
          width: 36px;
          .share-button {
            width: 36px;
            height: 36px;
          }
        }
        &:hover {
          .list {
            display: none;
          }
        }
      }
      .prodcut-tag {
        display: block;
      }
    }
    .product-slider-btn-model {
      width: 62px;
      padding: 7px 8px 4px;
      right: 20px;
      bottom: 5%;
    }
  }
  .product-info-new {
    width: 100%;
    padding: 10px 16px;
    .product-info_title_h1 {
      font-size: 28px;
    }
    .product-meta__vendor {
      font-size: 16px;
      line-height: 130%;
    }
    .product-form {
      .product-form__variants {
        padding: 15px 0px 10px;
        .product-form__option-selector:first-child {
          margin-right: 20px;
          padding-right: 20px;
          // width: 34%;
        }
        .color-swatch-list {
          justify-content: start;
          grid-template-columns: 1fr 1fr;
          margin-left: 10px;
        }
      }
      .description__tle {
        font-size: 14px;
        margin-bottom: 10px;
      }
      .product-form__option-info {
        margin-bottom: 0px;
      }
      .product-form__option-name {
        font-size: 14px;
      }
      .product-subinfo-list {
        font-size: 12px;
      }
      .product-row-direction {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
      }
      .description-cont-flex {
        margin: 15px 0;
        padding-bottom: 15px;
        border-bottom: 1px solid #f2f2f2;
      }
      .product-form__payment-container {
        margin-top: 15px;
      }

      .p-box-discount-code {
        width: 100%;
        .warp-width {
          width: 100%;
        }
        .abs-discount-detail {
          .left-block {
            font-size: 28px;
          }
          .right-block .btn-copy-block {
            font-size: 12px;
          }
        }
      }
      .pay-block .quantity-selector__input {
        padding: 0px;
      }
      .p-box-price {
        margin: 0px 0px;
        .price {
          font-size: 22px;
        }
        .original_price {
          font-size: 22px;
        }
        .information {
          font-size: 12px;
        }
      }
      .p-box-installment {
        font-size: 12px;
        display: block;
        width: 100%;
        line-height: 26px;
        margin: 10px 0px;
      }

      .p-box-aftermarket {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
        align-items: center;
        padding: 6px;
        .item {
          padding-right: 0px;
          justify-content: flex-start;
          line-height: 22px;
          &::after {
            width: 0px;
          }
        }
      }

      .p-collapsible-container {
        background: #fff;
        border-radius: 8px;
        overflow: hidden;
        margin-top: 10px;
        display: none;
        .collapsible-item {
          border-bottom: 1px solid #ddd;
          // Collapsible Header
          .collapsible-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px;
            cursor: pointer;

            h3 {
              font-size: 16px;
              margin: 0;
              color: #333;
              font-weight: 500;
            }

            .toggle-btn {
              background: none;
              border: none;
              cursor: pointer;
              color: #333;
              padding: 0px 4px;
              line-height: 28px;
              outline: none;
              font-size: 28px;
            }
          }

          .collapsible-content {
            text-align: center;
            padding: 0px;
            font-size: 14px;
            color: #000;
            display: none;
            .description-cont-flex {
              text-align: left;
              margin: 0px;
              border-bottom: 0px;
              padding: 0px;
              display: block;
            }
          }
        }
      }
    }
  }

  .product-sticky-form {
    padding: 20px 16px;
    background: #fff;
    box-shadow: 0px 4px 30px 4px #c6c6c7;
    z-index: 12;
    padding: 0px;

    .product-sticky-form__form {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .jdgm-widget,
    .jdgm-widget.jdgm-widget {
      display: none !important;
    }
    .combo-box__option-item[aria-selected="true"]::after {
      display: none;
    }
    .product-sticky-form__inner {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      justify-content: space-between;
      padding: 0px 0px 0px 20px;
      .product-sticky-form__price {
        display: flex;
        align-items: center;
        color: #e0004d;
        font-size: 16px;
        font-weight: 500;
        line-height: 130%; /* 20.8px */
        text-transform: capitalize;
        gap: 4px;
        .original_price {
          color: #bfc0ba;
          font-size: 14px;
          line-height: 130%; /* 18.2px */
          text-decoration: line-through;
        }
      }
      .product-form__add-button {
        background: #e0004d;
        color: #fbfaf4;
        font-size: 14px;
      }
    }
  }

  .product-sticky-up {
    bottom: 206px;
  }
}
.Sea-Accessibility_WidgetIcon.Bottom {
  bottom: 60px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
